<%#= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'filtering_categorizations' %>


<!--<style>-->
<!--  #flot-pie-chart {-->
<!--    width: 1000px;-->
<!--    height: 500px;-->
<!--  }-->

<!--  .ibox-content {-->
<!--    height: 600px;-->
<!--  }-->
<!--</style>-->

<!-- <div class="wrapper wrapper-content animated fadeInRight"> -->
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t('views.chart_index.title')%></h5>

      </div>
      <div class="ibox-content">
        <div class="flot-chart">
          <!--<div class="flot-chart-content" id="flot-bar-chart"></div>-->
          <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
        </div>
      </div>
    </div>
  </div>
<!-- </div>-->

<script type="text/javascript">


    $(function () {


        // var data = [{
        //     label: "Sales 1",
        //     data: 21,
        //     //color: "#d3d3d3",
        // }, {
        //     label: "Sales 2",
        //     data: 3,
        //     //color: "#bababa",
        // }, {
        //     label: "Sales 3",
        //     data: 15,
        //     //color: "#79d2c0",
        // }, {
        //     label: "Sales 4",
        //     data: 52,
        //     //color: "#1ab394",
        // }];

        var data = [
            <% @valores.each do |val| %>
            <%= val %>
            <% end %>
        ];

        var plotObj = $.plot($("#flot-pie-chart"), data, {
            series: {
                pie: {

                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        });


    });

</script>