<%= form_for(categori_filter) do |f| %>
  <% if categori_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categori_filter.errors.count, "error") %> prohibited this categori_filter from being saved:</h2>

      <ul>
      <% categori_filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_categori %>
    <%= f.number_field :id_categori %>
  </div>

  <div class="field">
    <%= f.label :id_filter %>
    <%= f.number_field :id_filter %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
