<h2>ID: <%= @id %></h2>


<div class="col-lg-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Line Chart Example </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#">Config option 1</a>
          </li>
          <li>
            <a href="#">Config option 2</a>
          </li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div id="morris-line-chart"></div>
    </div>
  </div>
</div>

<!--<div class="col-lg-12">-->
<!--  <div id="div_g" style="width:600px; height:300px;"></div>-->
<!--  <p>This test is modeled after a-->
<!--    <a href="http://www.highcharts.com/demo/?example=dynamic-update&amp;theme=default">highcharts-->
<!--      test</a>. New points should appear once per second. Try zooming and-->
<!--    panning over to the right edge to watch them show up.</p>-->
<!--</div>-->


<script type="text/javascript">
    $(document).ready(function () {
            var data = [];
            var t = new Date();
            for (var i = 10; i >= 0; i--) {
                var x = new Date(t.getTime() - i * 1000);
                data.push([x, Math.random()]);
            }

            var g = new Dygraph(document.getElementById("div_g"), data,
                {
                    drawPoints: true,
                    showRoller: true,
                    valueRange: [0.0, 1.2],
                    labels: ['Time', 'Random']
                });
            // It sucks that these things aren't objects, and we need to store state in window.
            window.intervalId = setInterval(function () {
                var x = new Date();  // current time
                var y = Math.random();
                data.push([x, y]);
                g.updateOptions({'file': data});
            }, 1000);
        }
    );
</script>
<script>
    $(function() {
        Morris.Line({
            element: 'morris-line-chart',
            data: [
                {y: '2006', a: 100, b: 90},
                {y: '2007', a: 75},
                {y: '2008', a: 50, b: 40},
                {y: '2009', a: 75},
                {y: '2010', a: 50, b: 40},
                {y: '2011', a: 75},
                {y: '2012', a: 100, b: 90}],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Series A', 'Series B'],
            hideHover: 'auto',
            resize: true,
            lineColors: ['#14568c', '#498fc8'],
        });
    })



    var data = [];
    var t = new Date();
    for (var i = 10; i >= 0; i--) {
        var x = new Date(t.getTime() - i * 1000);
        data.push([x, Math.random()]);
    }

    var g = new Dygraph(document.getElementById("div_g"), data,
        {
            drawPoints: true,
            showRoller: true,
            valueRange: [0.0, 1.2],
            labels: ['Time', 'Random']
        });
    setInterval(function() {
        var x = new Date();  // current time
        var y = Math.random();
        data.push([x, y]);
        g.updateOptions( { 'file': data } );
    }, 1000);


</script>