<%= form_for @filtering_categorization, :html => {:class => "form-horizontal", :id => "form1"} do |f| %>
  <% if @filtering_categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filtering_categorization.errors.count, "error") %> prohibited this filtering_categorization
        from being saved:</h2>

      <ul>
        <% @filtering_categorization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @btn_edit == true %>
    <% cat_fil = CategoriFilter.where("id_categori = #{@filtering_categorization.id}") %>
    <% cat_fil_tot = cat_fil.count %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <table class="table table-bordered table-hover table-responsive">
          <thead>
          <tr>
            <th class="text-center" colspan="<%= cat_fil_tot %>"><%= t('views.filter_new.cater_filter') %></th>
          </tr>
          <tr>

            <% cat_fil.each do |ca_fil| %>
                <th class="text-center"><%= ca_fil.tx_filters.Description %></th>
            <% end %>
          </tr>
          </thead>
        </table>
      </div>
      <div class="col-md-4"></div>
    </div>
  <% end %>


  <div class="row">
    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <%= f.label t('views.filter_new.name'), :class => "control-label" %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :name_categorization, :class => "form-control", :placeholder => t('views.filter_new.name'), :autocomplete => :off, :required => true %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <%= f.label t('views.filter_new.name_filter'), :class => "control-label" %>
      </div>
      <div class="col-md-5">
        <select data-placeholder="Por favor seleccione uno o mas Filtros" class="chosen-select" multiple style="width:100%;" tabindex="4" id="filtros">
          <% @filtros.each do |fil| %>
            <option value="<%= fil.Id %>"><%= fil.Description %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-4"></div>

    </div>
  </div>
  <input type="hidden" name="sel_fil" id="sel_fil_val">

  <div>
    <%= button_tag(type: 'submit', id: 'save_mails', class: 'btn btn-primary btn-xs', dat: {:no_turbolink => true}) do %>
      <i class='fa fa-filter'></i> <%= t('views.filter_new.create') %>
    <% end %>
    <%= link_to "<i class='fa fa-filter'></i> #{t('views.filter_new.btn_back')}".html_safe, filtering_categorizations_path, :class => "btn btn-primary btn-xs" %>
  </div>
<% end %>

<script>
    $(function () {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': {allow_single_deselect: true},
            '.chosen-select-no-single': {disable_search_threshold: 10},
            '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
            '.chosen-select-width': {width: "250%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    });

    $('#filtros').change(function () {
        var filtros = $(this).val()
        var fil_all = String(filtros)
        $('#sel_fil_val').val(fil_all)
    })

    var valor = ""

    // $('#filtros').change(function () {
    //     var vlor = $(this).find('option:selected').val()
    //     var res = parseInt(vlor) - 1
    //
    //     var filtros = $(this).prop("selectedIndex", vlor).val()
    //
    //     $(this).find('option:selected').each(function(){
    //          valor = $(this).val()
    //     })
    //
    //     for(i=0; i<gon.fil.length;i++){
    //         if((gon.fil[i].Id == vlor) && (gon.fil[i].filtering_categorization_id != null)){
    //
    //             swal({
    //                 title: "¿Estás seguro?",
    //                 text: "Si lo seleccionas, cambiarias la Categorización.",
    //                 type: "warning",
    //                 showCancelButton: true,
    //                 confirmButtonColor: "#DD6B55",
    //                 confirmButtonText: "Si, No hay problema!",
    //                 cancelButtonText: "No, Cancelar!",
    //                 closeOnConfirm: false,
    //                 closeOnCancel: false
    //             },function (isConfirm) {
    //                 if (isConfirm) {
    //                     // $.ajax({
    //                     //     type: "POST",
    //                     //     beforeSend: function (xhr) {
    //                     //         xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
    //                     //     },
    //                     //     //url: "/group_filter_details/" + id,
    //                     //     url: "/group_lays/" + id,
    //                     //     //url: "/groups/table" + id,
    //                     //     data: {"_method": "delete"},
    //                     //     success: function () {
    //                     //         //console.log(respuesta)
    //                     //         cargaTable();
    //                     //
    //                     //     }
    //                     // })
    //                     swal("Su categorización cambiara ...", "success");
    //
    //                 } else {
    //                     $(this).find('option:selected').removeAttr('selected');
    //                     $(this).trigger('chosen:updated');
    //                     swal("Cancelado", "Su filtro esta a salvo.", "error");
    //                 }
    //             })
    //
    //
    //         }
    //     }
    // })


</script>
