<style>
  #flot-pie-chart{
    width: 1000px;
    height: 500px;
  }

  .ibox-content{
    height: 600px;
  }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= @filtering_categorization.name_categorization %>
            
          </h5>

        </div>
        <div class="ibox-content">
          <div class="flot-chart">

            <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
          </div>


        </div>


      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">
      $(function(){

          $(function () {
              var data = [
                  <% @valores.each do |val| %>
                  <%= val %>
                  <% end %>
              ];
              var plotObj = $.plot($("#flot-pie-chart"), data, {
                  series: {
                      pie: {
                          show: true
                      }
                  },
                  grid: {
                      hoverable: true
                  },
                  tooltip: true,
                  tooltipOpts: {
                      content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                      shifts: {
                          x: 20,
                          y: 0
                      },
                      defaultTheme: false
                  }
              });
          });
      })
  </script>

<% end %>