<% @white_lists.each do |white_list| %>
  <tr>
    <td>
      <span id="fecha<%= white_list["id"] %>"><%= "#{white_list["Fecha"]} - #{white_list["Hora"].split('.').first}" %></span>
    </td>
    <td><%= white_list["IdTran"] %></td>
    <td> <span id="name<%= white_list["id"] %>"><%= white_list["Nombre"] %></span></td>
    <td>
      <% if white_list["Estado"]  %>
        <input type="checkbox" value="<%= white_list["id"] %>" class="checkState" checked>
      <% else %>
        <input type="checkbox" value="<%= white_list["id"] %>"class="checkState" >
      <% end  %>
    </td>
    <!--        <td><%#= link_to 'Show', white_list %></td>-->
    <!--        <td><%#= link_to 'Edit', edit_white_list_path(white_list) %></td>-->
    <!--        <td><%#= link_to 'Destroy', white_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>