$('.pagination_count').html('<%= escape_javascript(page_entries_info(@white_lists, entry_name: t('views.white_list_index.cards')).to_s) %>');
$('#paginator').html('<%= escape_javascript(paginate(@white_lists, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true).to_s) %>');
$('tbody#cards').html('<%= escape_javascript render('cards') %>');




