<p id="notice"><%= notice %></p>

<p>
  <strong>Idusuario:</strong>
  <%= @white_list.IdUsuario %>
</p>

<p>
  <strong>Idtran:</strong>
  <%= @white_list.IdTran %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @white_list.Fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @white_list.Estado %>
</p>

<%= link_to 'Edit', edit_white_list_path(@white_list) %> |
<%= link_to 'Back', white_lists_path %>
