<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @table_order.user_id %>
</p>

<p>
  <strong>Name column:</strong>
  <%= @table_order.name_column %>
</p>

<p>
  <strong>Order:</strong>
  <%= @table_order.order %>
</p>

<p>
  <strong>Table:</strong>
  <%= @table_order.table_id %>
</p>

<%= link_to 'Edit', edit_table_order_path(@table_order) %> |
<%= link_to 'Back', table_orders_path %>
