/* line 5, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/filtersnos.scss */
.btn span.fa {
  opacity: 0;
}

/* line 8, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/filtersnos.scss */
.btn.active span.fa {
  opacity: 1;
}

/* line 12, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/filtersnos.scss */
.d-none {
  display: none;
}

/* line 16, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/filtersnos.scss */
.popover-custom {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: .5em;
  position: absolute;
  min-height: 70px;
  top: 0;
  left: 11em;
  text-align: left;
  width: 220px;
  z-index: 1000;
}
/* line 29, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/filtersnos.scss */
.popover-custom:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  /* izquierda flecha */
  border-top: 25px solid transparent;
  /* derecha flecha */
  border-right: 10px solid #e5e5e5;
  /* base flecha y color*/
  font-size: 0px;
  line-height: 0px;
  left: -10px;
}
