@charset "UTF-8";
/* line 7, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
table thead tr th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* line 13, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.cont-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 18, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.cont-inputs .values {
  width: 47%;
}

/* line 23, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 27, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.inValue .anchoSelect {
  width: 50%;
}
/* line 30, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.inValue .anchoSelect:last-child {
  padding-left: .5em;
}

/* line 37, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;
}
/* line 42, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 48, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.altura {
  height: 59px;
  line-height: 1.9;
}

/* line 54, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.operador, .conector {
  color: #f8ac59;
  font-size: 16px;
}

/* line 59, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.parenthesis {
  font-size: 20px;
}

/* line 63, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.negado {
  color: #ed5565;
}

/* line 67, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.tdDispNone, .thDisNone {
  display: none;
}

/* line 72, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 385px;
  overflow: auto;
  padding: 0;
}

/* line 80, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.condicion, .parAbre, .parCierre {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 99999;
}

/* line 86, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.campos_ref, .content_horarios {
  height: 185px;
  overflow: auto;
}

/* line 93, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.campos_ref::-webkit-scrollbar, .s_Condition::-webkit-scrollbar, .content_horarios::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 98, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.campos_ref::-webkit-scrollbar-track, .s_Condition::-webkit-scrollbar-track, .content_horarios::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 102, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.campos_ref::-webkit-scrollbar-thumb, .s_Condition::-webkit-scrollbar-thumb, .content_horarios::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}

/*Unifica el select con el input*/
/* line 111, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.input-select-unidos {
  display: flex;
  flex-direction: row;
}
/* line 115, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.input-select-unidos select:first-child {
  width: 50%;
}
/* line 119, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.input-select-unidos input:last-child {
  width: 130%;
}

/*Estilos para el contenedor de la table de campos*/
/* line 126, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.content_campos, .content_table_campos {
  max-height: 300px;
  overflow: auto;
}
/* line 131, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.content_campos::-webkit-scrollbar, .content_table_campos::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 136, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.content_campos::-webkit-scrollbar-track, .content_table_campos::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 140, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.content_campos::-webkit-scrollbar-thumb, .content_table_campos::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}
/* line 146, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.content_campos thead, .content_campos tr, .content_campos th, .content_table_campos thead, .content_table_campos tr, .content_table_campos th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
/* line 154, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.header-subtitle {
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;
}
/* line 159, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.header-subtitle h4 {
  font-weight: 100;
  color: #fff;
}

/* line 166, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.flex-mensaje, .btn-tunning {
  display: flex;
  flex-direction: row;
}

/* line 172, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.flex-mensaje {
  justify-content: space-between;
}

/* line 177, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.btn-tunning {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
/* line 183, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.btn-tunning:hover {
  background-color: #9ea6b9;
}

/* line 189, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size {
  width: 60%;
  margin: auto;
  margin-top: 2em;
}
/* line 194, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
  /*Configuración del mensaje*/
}
/* line 199, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
  width: 70%;
}
/* line 205, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 211, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal div.msn:last-child {
  padding-left: 2em;
  width: 30%;
}
/* line 216, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal div.msn:last-child .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 222, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_details.scss */
.modal-size .campos_modal div.msn:last-child .primeros, .modal-size .campos_modal div.msn:last-child .ultimos {
  display: none;
}
