@charset "UTF-8";
/*Unifica el select con el input*/
/* line 12, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.input-select-unidos {
  display: flex;
  flex-direction: row;
}

/*Estilos para el contenedor de la table de campos*/
/* line 27, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.content_campos, .content_table_campos {
  max-height: 300px;
  overflow: auto;
}
/* line 32, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.content_campos::-webkit-scrollbar, .content_table_campos::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 37, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.content_campos::-webkit-scrollbar-track, .content_table_campos::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 41, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.content_campos::-webkit-scrollbar-thumb, .content_table_campos::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}
/* line 47, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.content_campos thead, .content_campos tr, .content_campos th, .content_table_campos thead, .content_table_campos tr, .content_table_campos th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
/* line 55, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.header-subtitle {
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;
}
/* line 60, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.header-subtitle h4 {
  font-weight: 100;
  color: #fff;
}

/* line 67, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.flex-mensaje, .btn-tunning {
  display: flex;
  flex-direction: row;
}

/* line 73, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.flex-mensaje {
  justify-content: space-between;
}

/* line 78, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.btn-tunning {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
/* line 84, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.btn-tunning:hover {
  background-color: #9ea6b9;
}

/* line 90, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size {
  width: 60%;
  margin: auto;
  margin-top: 2em;
}
/* line 95, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
  /*Configuración del mensaje*/
}
/* line 100, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
  width: 70%;
}
/* line 106, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 112, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal div.msn:last-child {
  padding-left: 2em;
  width: 30%;
}
/* line 117, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal div.msn:last-child .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 123, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-size .campos_modal div.msn:last-child .primeros, .modal-size .campos_modal div.msn:last-child .ultimos {
  display: none;
}

/* line 130, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos {
  background-color: #fff;
  width: 90%;
  position: fixed;
  z-index: 9000;
  height: 60vh;
  top: 5%;
  left: 5%;
  border-radius: 5px;
}
/* line 140, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .header-msn {
  background-color: #003057;
  color: #fff;
  display: flex;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}
/* line 148, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
  /*Configuración del mensaje*/
}
/* line 153, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
}
/* line 158, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 164, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal div.msn:last-child {
  padding-left: 2em;
  width: 30%;
}
/* line 169, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal div.msn:last-child .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 175, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.modal-dos .campos_modal div.msn:last-child .primeros, .modal-dos .campos_modal div.msn:last-child .ultimos {
  display: none;
}

/* line 183, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.btn span.fa {
  opacity: 0;
}

/* line 186, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_filter_schedules.scss */
.btn.active span.fa {
  opacity: 1;
}
