/* line 9, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.cube-filter-primray, .cube-filter-sec, .cube-filter-group {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/* line 16, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.cube-filter-primray {
  background-color: #003057;
}

/* line 20, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.cube-filter-sec {
  background-color: #f8ac59;
}

/* line 28, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 32, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect {
  width: 50%;
}
/* line 35, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect:last-child {
  padding-left: .5em;
}

/* line 42, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;
}
/* line 47, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 53, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.altura {
  height: 59px;
  line-height: 1.9;
}

/* line 59, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.operador, .conector {
  color: #f8ac59;
  font-size: 16px;
}

/* line 64, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.parenthesis {
  font-size: 20px;
}

/* line 68, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.negado {
  color: #ed5565;
}

/* line 72, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.tdDispNone, .thDisNone {
  display: none;
}

/* line 78, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
thead {
  background-color: #fff;
}

/* line 82, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  padding: 0;
}

/* line 90, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.container {
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 105%;
  transition: all .3s ease;
}

/* line 101, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar, .s_Condition::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 106, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-track, .s_Condition::-webkit-scrollbar-track {
  background-color: #ccc;
}
/* line 110, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-thumb, .s_Condition::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}

/* line 117, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.condicion, .parAbre, .parCierre {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 99999;
}

/* line 123, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.conectorP {
  background-color: #f8ac59 !important;
  color: white !important;
}

/* line 129, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.btn-width {
  margin-bottom: .5em;
  overflow: hidden;
  width: 98px;
}

/* line 136, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.drop-target {
  border-top: 2px solid #337ab7 !important;
  border-bottom: 2px solid #337ab7 !important;
}

/* line 143, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size {
  width: 80%;
  background-color: #fff;
  margin: auto;
  margin-top: 10em;
  border-radius: 5px;
}

/*Unifica el select con el input*/
/* line 165, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos {
  display: flex;
  flex-direction: row;
}
/* line 169, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos select:first-child {
  width: 60%;
}
/* line 173, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.input-select-unidos input:last-child {
  width: 150%;
}

/*Estilos para el contenedor de la table de campos*/
/* line 180, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.content_campos, .content_table_campos {
  max-height: 300px;
  overflow: auto;
}
/* line 185, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar, .content_table_campos::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 190, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar-track, .content_table_campos::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 194, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.content_campos::-webkit-scrollbar-thumb, .content_table_campos::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}
/* line 200, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.content_campos thead, .content_campos tr, .content_campos th, .content_table_campos thead, .content_table_campos tr, .content_table_campos th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
/* line 208, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.header-subtitle {
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;
}
/* line 213, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.header-subtitle h4 {
  font-weight: 100;
  color: #fff;
}

/*Estilos para relog de bootstrap en modal de nuevo filtro*/
/* line 220, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.popover {
  z-index: 215000000 !important;
}

/* line 224, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.error-tables {
  background-color: #fbe3e4 !important;
}

/* line 228, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.bg-light {
  background-color: #fff;
  min-height: 300px;
  padding-top: .5em;
}

/* line 234, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.flexbox-horario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 240, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.form-custom {
  width: 50%;
  padding: 15px;
}

/* line 246, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.flex-mensaje, .btn-tunning {
  display: flex;
  flex-direction: row;
}

/* line 252, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.flex-mensaje {
  justify-content: space-between;
}

/* line 257, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.btn-tunning {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}
/* line 263, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.btn-tunning:hover {
  background-color: #9ea6b9;
}

/* line 269, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
/* line 274, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
}
/* line 280, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn {
  width: 33%;
}
/* line 284, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
}
/* line 288, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 293, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 299, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-size-msn .campos_modal .primeros, .modal-size-msn .campos_modal .ultimos {
  display: none;
}

/*Estilos para segunda modal de nuevo filtro index sessions*/
/* line 306, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos {
  background-color: #fff;
  width: 90%;
  position: fixed;
  z-index: 9000;
  top: 5%;
  left: 5%;
  border-radius: 5px;
}
/* line 315, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .header-msn {
  background-color: #003057;
  color: #fff;
  display: flex;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}
/* line 323, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal {
  display: flex;
  flex-direction: row;
  /*Tabla de campos en modal*/
}
/* line 329, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal div.msn {
  width: 33%;
}
/* line 333, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal div.msn:first-child {
  max-height: 322px;
  overflow: auto;
}
/* line 337, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal div.msn:first-child tr {
  cursor: pointer;
}
/* line 342, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 348, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.modal-dos .campos_modal .primeros, .modal-dos .campos_modal .ultimos {
  display: none;
}

/* line 355, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.btn span.fa {
  opacity: 0;
}

/* line 358, /home/kevin/Documentos/Proyectos_KS/gestorcentral-web-nuevo-kevin/app/assets/stylesheets/tx_sessions.scss */
.btn.active span.fa {
  opacity: 1;
}
