/* line 6, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 10, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect {
  width: 50%;
  padding-right: 3em;
}

/* line 17, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;
}
/* line 22, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 28, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: scroll;
  padding: 0;
}

/* line 36, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.container {
  transition: all .3s ease;
}

/* line 40, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.condition {
  cursor: move;
  z-index: 99999;
}

/* line 45, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.over {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
  -webkit-transform: scale(1.01);
}

/* line 52, /home/aflores8/ProyectosNuevos2018/gestorcentral-web-karla/app/assets/stylesheets/tx_sessions.scss */
.cloneCondition {
  cursor: move;
}
