<%= form_for @gestor_setting, :html => {:class => "form-horizontal", :id => "gestor_settings_form"} do |f| %>
  <% if @gestor_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gestor_setting.errors.count, "error") %> prohibited this gestor_setting from being saved:</h2>
      <ul>
        <% @gestor_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error.present? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
      <p><%= @error %></p>
    </div>
  <% end %>

  <div class="panel">
    <div class="panel-body">
      <div class="block-area" id="tableBordered">
        <div class="ibox-content">

          <%# Ya hay al menos un setting en tabla %>
          <% if @setting %>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057" id="panel">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center"><span class="fa fa-sun-o"></span> <%= t('views.settings_index.diurno') %>
                      </h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :day_start, :class => "form-control", :id => "day_st", :autocomplete => :off, :required => true, :value => @setting.day_start %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :day_end, :class => "form-control", :id => "day_en", :autocomplete => :off, :required => true, :value => @setting.day_end %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br>
            <br>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-moon-o"></span> <%= t('views.settings_index.nocturno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :night_start, :class => "form-control", :id => "night_st", :autocomplete => :off, :required => true, :value => @setting.night_start %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :night_end, :class => "form-control", :id => "night_en", :autocomplete => :off, :required => true, :value => @setting.night_end %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br>
            <br>

            <div class="row">
              <div class="col-md-12 text-center">
                <%= button_tag(type: 'button', class: 'btn btn-xs btn-primary', id: 'guardar_Horario', disabled: 'true') do %>
                  <i class="fa fa-upload"></i> <%= t('views.settings_index.btn_New_Save') %>
                <% end %>
              </div>
            </div>
            <br>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-sun-o"></span> <%= t('views.settings_index.limite_Diurno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.normal') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <%= f.text_field :blue_day, :class => "form-control", :value => '0', :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azul_Start' %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="left" data-autoclose="true">
                      <%= f.text_field :blue_day_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azul_End', :value => @setting.blue_day_end %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.precaucion') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_day, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'ama_Start', :value => @setting.yellow_day %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_day_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'ama_End', :value => @setting.yellow_day_end %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.alerta') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :red_day, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'rojo_Start', :value => @setting.red_day %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>

              <div class="col-md-5">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-moon-o"></span> <%= t('views.settings_index.limite_Nocturno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.normal') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <%= f.text_field :blue_night, :class => "form-control", :value => '0', :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azuln_Start' %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="left" data-autoclose="true">
                      <%= f.text_field :blue_night_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azuln_End', :value => @setting.blue_night_end %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.precaucion') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_night, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'aman_Start', :value => @setting.yellow_night %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_night_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'aman_End', :value => @setting.yellow_night_end %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.alerta') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :red_night, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'rojon_Start', :value => @setting.red_night %>
                      <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span> mins.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <br>
            <div class="form-group">
              <%= button_tag(type: 'submit', class: 'btn btn-xs btn-primary nam', name: 'new_gestor_setting', id: 'botonGuardar', :disabled => 'true') do %>
                <i class="fa fa-upload"></i> <%= t('views.settings_form.btn_Save') %>
              <% end %>
              <%= link_to '<i class="fa fa-clock-o"></i> '.html_safe + t('views.settings_new.btn_Back'), gestor_settings_path, class: 'btn btn-xs btn-primary' %>
            </div>
            </div>


            <%# NO hay settings registrados %>
          <% else %>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057" id="panel">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center"><span class="fa fa-sun-o"></span> <%= t('views.settings_index.diurno') %>
                      </h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :day_start, :class => "form-control", :id => "day_st", :autocomplete => :off, :required => true %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :day_end, :class => "form-control", :id => "day_en", :autocomplete => :off, :required => true %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br>
            <br>


            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057" id="panel2">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-moon-o"></span> <%= t('views.settings_index.nocturno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :night_start, :class => "form-control", :id => "night_st", :autocomplete => :off, :required => true %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-5">
                    <div class="input-group clockpicker" data-placement="left" data-autoclose="true">
                      <%= f.text_field :night_end, :class => "form-control", :id => "night_en", :autocomplete => :off, :required => true %>
                      <span class="input-group-addon">
                          <span class="fa fa-clock-o"></span> hrs.
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            <br>
            <br>

            <div class="row">
              <div class="col-md-12 text-center">
                <%= button_tag(type: 'button', class: 'btn btn-xs btn-primary', id: 'guardar_Horario', disabled: 'true') do %>
                  <i class="fa fa-upload"></i> <%= t('views.settings_index.btn_New_Save') %>
                <% end %>
              </div>
            </div>
            <br>
            <br>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-sun-o"></span> <%= t('views.settings_index.limite_Diurno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.normal') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <%= f.text_field :blue_day, :class => "form-control", :value => '0', :disabled => 'true', :autocomplete => :off, :id => 'azul_Start' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="left" data-autoclose="true">
                      <%= f.text_field :blue_day_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azul_End' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.precaucion') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_day, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'ama_Start' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_day_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'ama_End' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.alerta') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :red_day, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'rojo_Start' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>

              <div class="col-md-5">
                <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter>
                  <tbody>
                  <tr bgcolor="#003057">
                    <td colspan="2" bgcolor="#003057" style="color: white">
                      <h4 class="text-center">
                        <span class="fa fa-moon-o"></span> <%= t('views.settings_index.limite_Nocturno') %></h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.normal') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <%= f.text_field :blue_night, :class => "form-control", :value => '0', :disabled => 'true', :autocomplete => :off %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="left" data-autoclose="true">
                      <%= f.text_field :blue_night_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'azuln_End' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.precaucion') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_night, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'aman_Start' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2 text-center" style="font-size: 25px">-</div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :yellow_night_end, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'aman_End' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label" style="padding-top: 8px"><%= t('views.settings_form.alerta') %></label>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group" data-placement="top" data-autoclose="true">
                      <%= f.text_field :red_night, :class => "form-control", :disabled => 'true', :required => true, :autocomplete => :off, :id => 'rojon_Start' %>
                      <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span> mins.
                          </span>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-4"></div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <%= button_tag(type: 'submit', class: 'btn btn-xs btn-primary nam', name: 'new_gestor_setting', id: 'botonGuardar', :disabled => 'true') do %>
                <i class="fa fa-upload"></i> <%= t('views.settings_form.btn_Save') %>
              <% end %>
              <%= link_to '<i class="fa fa-clock-o"></i> '.html_safe + t('views.settings_new.btn_Back'), gestor_settings_path, class: 'btn btn-xs btn-primary' %>
            </div>
          <% end %>
          </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    //Se agrega la clase clockpicker
    $('.clockpicker').clockpicker();
    <!--Validaciones para que siempre que se cambie el inicio de hora el fin se limpie-->
    $(document).ready(function () {
        $("#day_st").change(function () {
            $('#day_en').val($('').val());
        });
    });
    $(document).ready(function () {
        $("#night_st").change(function () {
            $('##night_en').val($('').val());
        });
    });
    <!--Validación de valor nulo para habilitar/deshabilitar el boton-->
    $('#day_st').change(function () {
        var diainicio = $(this).val()
        diainicio = diainicio.trim()
        var diafin = $("#day_en").val()
        diafin = diafin.trim()

        if (diainicio == "" || diafin == "") {
            $('#guardar_Horario').prop('disabled', true)
        } else {
            $('#guardar_Horario').prop('disabled', false)
        }
    })
    $('#day_en').change(function () {
        var diainicio = $("#day_st").val()
        diainicio = diainicio.trim()
        var diafin = $(this).val()
        diafin = diafin.trim()

        if (diainicio == "" || diafin == "") {
            $('#guardar_Horario').prop('disabled', true)
        } else {
            $('#guardar_Horario').prop('disabled', false)
        }
    })
    $('#night_st').change(function () {
        var nocheinicio = $(this).val()
        nocheinicio = nocheinicio.trim()
        var nochefin = $("#night_en").val()
        nochefin = nochefin.trim()

        if (nocheinicio != "" && nochefin != "") {
            $('#guardar_Horario').prop('disabled', false)
        } else {
            $('#guardar_Horario').prop('disabled', true)
        }
    })
    $('#night_en').change(function () {
        var nocheinicio = $("#night_st").val()
        nocheinicio = nocheinicio.trim()
        var nochefin = $(this).val()
        nochefin = nochefin.trim()

        if (nocheinicio == "" && nochefin == "") {
            $('#guardar_Horario').prop('disabled', true)
        } else {
            $('#guardar_Horario').prop('disabled', false)
        }
    })
    //Validación para que los inputs no acepten LETRAS
    $('#azul_End, #azul_Start, #ama_End, #rojo_End, #azuln_End, #aman_End, #rojon_End, #day_st, #day_en, #night_st, #night_en').on('input', function () {
        valor = $(this).val()
        patron = /^[0-9/]*$/
        remp = /[^ 0-9/]+/gi

        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });
    //Validacin para que los inputs no acepten NÚMEROS
    $('#day_st, #day_en, #night_st, #night_en').on('input', function () {
        valor = $(this).val();
        patron = /^[ a-zA-Záéíóúüñ]*$/
        remp = /[^ a-zA-Záéíóúüñ]/gi
        if (!patron.test(valor)) {
            this.value = valor.replace(remp, "");
        }
    });
    //Validacion para que los inputs no acepten ESPACIOS
    $(function () {
        $('#azul_End, #azul_Start, #ama_End, #rojo_End, #azuln_End, #aman_End, #rojon_End, #day_st, #day_en, #night_st, #night_en').on('keypress', function (e) {
            if (e.which == 32)
                return false;
        });
    });
    //validaciones para los limites diurnos y nocturnos
    $('#azul_End').focusout(function () {
        var tiempoazul = $(this).val();
        tot1 = parseInt(tiempoazul);
        total = tot1 + 1;
        $('#ama_Start').val(total);
    });
    $('#ama_End').focusout(function () {
        var tiempoama = $(this).val();
        tot1 = parseInt(tiempoama);
        total = tot1 + 1;
        $('#rojo_Start').val(total);
    });
    $('#azuln_End').focusout(function () {
        var tiempoazuln = $(this).val();
        tot1 = parseInt(tiempoazuln);
        total = tot1 + 1;
        $('#aman_Start').val(total);
    });
    $('#aman_End').focusout(function () {
        var tiempoaman = $(this).val();
        tot1 = parseInt(tiempoaman);
        total = tot1 + 1;
        $('#rojon_Start').val(total);
    });
    //validaciones para los horarios diurnos y nocturno
    $("#day_en").focusout(function () {
        var tiempo = $(this).val().split(/:/);
        tot1 = parseInt(tiempo[0]);
        tot2 = parseInt(tiempo[1]);

        if (tot1 == 23 && tot2 != 59) {
            tot1 = tot1;
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#night_st').val(total);
        } else if (tot1 == 23) {
            tot1 = "00";
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#night_st').val(total);
        } else if (tot1 == 23 && tot2 == 59) {
            tot1 = "00";
            tot2 = "00";
            total = tot1 + ":" + tot2;
            $('#night_st').val(total);
        } else if (tot2 == 59) {
            tot2 = "00"
            tot1 = tot1 + 1;
            total = tot1 + ":" + tot2;
            $('#night_st').val(total);
        } else {
            tot1 = tot1;
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#night_st').val(total);
        }
    });
    $('#day_st').focusout(function () {
        var tiempo = $(this).val().split(/:/);
        tot1 = parseInt(tiempo[0]);
        tot2 = parseInt(tiempo[1]);
        limitcero = "00"

        if (tot2 == limitcero) {
            tot1 = tot1 - 1;
            tot2 = 59;
            total = tot1 + ":" + tot2;
            $('#night_en').val(total);
        } else if (tot1 == limitcero && tot2 == limitcero) {
            tot1 = 23;
            tot2 = 59;
            total = tot1 + ":" + tot2;
            $('#night_en').val(total);
        } else {
            tot1 = tot1;
            tot2 = tot2 - 1;
            total = tot1 + ":" + tot2;
            $('#night_en').val(total);
        }
    });
    $("#night_en").focusout(function () {
        var tiempo = $(this).val().split(/:/);
        tot1 = parseInt(tiempo[0]);
        tot2 = parseInt(tiempo[1]);

        if (tot1 == 23 && tot2 != 59) {
            tot1 = tot1;
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#day_st').val(total);
        } else if (tot1 == 23) {
            tot1 = "00";
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#day_st').val(total);
        } else if (tot1 == 23 && tot2 == 59) {
            tot1 = "00";
            tot2 = "00";
            total = tot1 + ":" + tot2;
            $('#day_st').val(total);
        } else if (tot2 == 59) {
            tot2 = "00"
            tot1 = tot1 + 1;
            total = tot1 + ":" + tot2;
            $('#day_st').val(total);
        } else {
            tot1 = tot1;
            tot2 = tot2 + 1;
            total = tot1 + ":" + tot2;
            $('#day_st').val(total);
        }
    });
    $('#night_st').focusout(function () {
        var tiempo = $(this).val().split(/:/);
        tot1 = parseInt(tiempo[0]);
        tot2 = parseInt(tiempo[1]);
        limitcero = "00"

        if (tot2 == limitcero) {
            tot1 = tot1 - 1;
            tot2 = 59;
            total = tot1 + ":" + tot2;
            $('#day_en').val(total);
        } else if (tot1 == limitcero && tot2 == limitcero) {
            tot1 = 23;
            tot2 = 59;
            total = tot1 + ":" + tot2;
            $('#day_en').val(total);
        } else {
            tot1 = tot1;
            tot2 = tot2 - 1;
            total = tot1 + ":" + tot2;
            $('#day_en').val(total);
        }
    });
    //Validaciones para habilitar y deshabilitar los inputs y el boton guardar
    $('#guardar_Horario').on("click", function () {
        $('#azul_End, #ama_End, #azuln_End, #aman_End, #botonGuardar').removeAttr('disabled', 'disabled');
    })
    $('#guardar_Horario').on("click", function () {
        $('#day_st, #day_en, #night_st, #night_en').attr('disabled', 'disabled');
    })
    <!--Deshabilitar inputs al dar click-->
    $('#panel').on("click", function () {
        $('#night_st, #night_en, #day_st, #day_en').removeAttr('disabled', 'disabled');
    })
    $('#panel2').on("click", function () {
        $('#night_st, #night_en, #day_st, #day_en').removeAttr('disabled', 'disabled');
    })
    $('#day_st').on("click", function () {
        $('#night_st, #night_en').attr('disabled', 'disabled');
    })
    $('#day_en').on("click", function () {
        $('#night_st, #night_en').attr('disabled', 'disabled');
    })
    $('#night_st').on("click", function () {
        $('#day_st, #day_en').attr('disabled', 'disabled');
    })
    $('#night_en').on("click", function () {
        $('#day_st, #day_en').attr('disabled', 'disabled');
    })
    $('#azul_End').on("click", function () {
        $('#ama_Start').attr('disabled', 'disabled')
    })
    $('#ama_End').on("click", function () {
        $('#rojo_Start').attr('disabled', 'disabled')
    })
    $('#azuln_End').on("click", function () {
        $('#aman_Start').attr('disabled', 'disabled')
    })
    $('#aman_End').on("click", function () {
        $('#rojon_Start').attr('disabled', 'disabled')
    })
    //Deshabilitar inputs al dar click
    $("#gestor_settings_form").submit(function () {
        $("#day_st,#day_en,#night_st,#night_en,#azul_Start,#azul_End,#ama_Start,#ama_End,#rojo_Start,#azuln_Start,#azuln_End, #aman_Start,#aman_End,#rojon_Start ").attr("disabled", false)
    })
</script>
