<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.user_p') %> Key Monitor Perfiles</h1>
      </div>
      <div class="ibox-content" id="responsiveTable">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="detall_left">
                <%= page_entries_info @perfiles, entry_name: t('views.user_priority_index.sessions') %>
              </div>
              <div class="pag_right">
                <%= paginate @perfiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.group') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.profile') %></th>
              <% if @editarPrioridad == 4 %>
                <th class="text-center" data-sort-ignore="true"><%= t('views.user_priority_index.priority') %></th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <% @perfiles.each do |pr| %>
              <tr class="text-center">
                <td>
                  <% if pr.tgrupos.present? %>
                  <%= pr.tgrupos.Nombre  %>
                  <% else %>
                  N/A
                  <% end %>
                </td>
                <td><%= pr.Nombre %></td>
                <% if @editarPrioridad == 4 %>
                  <td>
                    <%= link_to t('views.user_priority_index.assign'), user_priority_assignPriorityPer_path(:idp => pr.IdPerfil, :idg => pr.IdGrupo), :class => "btn btn-w-m btn-primary btn-sm" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
            <!--<tfoot>
            <tr>
              <td colspan="11">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>-->
          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <div class="pag_right">
                <%= paginate @perfiles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
              </div>
              <div class="detall_right">
                <%= page_entries_info @perfiles, entry_name: t('views.user_priority_index.sessions') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
