<!--<h1>Editing State</h1>-->

<%#= render 'form', state: @state %>

<!--<%#= link_to 'Show', @state %> |-->
<%#= link_to 'Back', states_path %>
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.states_edit.edit_s') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <%= render 'form', state: @state %>
      </div>
    </div>
  </div>
</div>