<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.states_alert') %></h1>
      </div>
      <div class="ibox-content" id="responsiveTable">
        <% if @error.present? %>

          <script>
              swal({
                  title: "<%= t('all.no_filter')%>",
                  type: "warning"

              });

          </script>
        <% end %>


        <input type="hidden" value="<%= params[:locale] %>" name="locale">
        <div class="row">
          <div class="col-md-12">


            <%# if @arreglo_graph_states.nil? %>
            <% if !@filtro.present? %>
              <!--------------------------------- prueba modal --------------------------------->

              <!-- BOTON FILTRO -->

              <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                  <div class="col-md-2">
                    <div class="ibox float-e-margins">
                      <div class="ibox-title">
                        <h5><%= t('views.niv_alert_index.alert_state') %></h5>
                        <div class="ibox-tools">
                          <i class="fa fa-filter filtro" data-toggle="modal" data-target="#states">
                            <label><%= t('views.niv_alert_index.filter') %></label></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!--------------------------------- prueba modal --------------------------------->
              <div class="modal inmodal" id="states" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only"><%= t('views.niv_alert_index.close') %></span>
                      </button>
                      <i class="fa fa-filter modal-icon"></i>
                      <h4 class="modal-title"><%= t('views.niv_alert_index.filter_states') %></h4>
                      <small class="font-bold"><%= t('views.niv_alert_index.enter') %></small>
                    </div>
                    <%= form_tag({:controller => "states", :action => "index"}, :method => "get", :class => "form-horizontal", :id => "form_busqueda_estados") do %>
                      <input type="hidden" value="states" name="search_for_states">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-xs-12">

                            <div class="row">
                              <div class="col-xs-2"></div>
                              <div class="col-xs-8">
                                <label> <%= t('views.niv_alert_index.state') %></label>
                                <div class="input-group">
                                  <select data-placeholder="<%= t('views.niv_alert_index.select_state') %>" class="chosen-select" multiple style="width:350px;" tabindex="4" name="states_alert" id="states_sel">
                                    <% @states.each do |estados| %>
                                      <option value="<%= estados.IdEstado %>"> <%= estados.IdEstado %> <%= estados.Descripcion %> </option>
                                    <% end %>
                                  </select>
                                  <font color="#8b0000"><label id="errorStates" style="display: none;"></label></font>
                                  <input type="hidden" name="valor_estados" id="valor_states">
                                </div>
                              </div>
                              <div class="col-xs-2"></div>
                            </div>

                            <br>

                            <br>
                            <div class="row">
                              <div class="col-xs-12 text-center">
                                <font color="#8b0000"><label id="errorDatesStates" style="display: none;"></label></font>
                              </div>
                            </div>
                            <br>
                            <div class="row">

                              <div class="col-xs-6">
                                <label> <%= t('views.states_index.message_default') %></label>
                                <select class="form-control" name="users_states" id="users_st">
                                  <option value=""><%= t('views.states_index.message_default') %></option>
                                  <% @states.each do |us| %>
                                    <% if us.mensajeDefault.present? %>
                                      <option value="<%= us.IdEstado.to_i %>"><%= us.IdEstado.to_i %>
                                        --<%= us.mensajeDefault %></option>
                                    <% else %>
                                      <option value="<%= us.IdEstado.to_i %>"><%= us.IdEstado.to_i %>-- N/A</option>
                                    <% end %>
                                  <% end %>
                                </select>

                                <br>
                              </div>
                              <div class="col-sm-6">
                                <label><%= t('views.niv_alert_index.fraud') %></label>
                                <div class="i-checks">
                                  <label> <input type="radio" value="1" name="fraud_states" id="fraud_yes">
                                    <i></i> <%= t('views.states_index.fraud_yes') %>
                                  </label></div>
                                <div class="i-checks">
                                  <label> <input type="radio" value="0" name="fraud_states" id="fraud_no"> <i></i> <%= t('views.states_index.fraud_no') %>
                                  </label>
                                </div>
                                <div class="i-checks">
                                  <label> <input type="radio" value="2" name="fraud_states" id="fraud_def"> <i></i> <%= t('views.states_index.fraud_pend') %>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal" id="cerrar"><%= t('views.niv_alert_index.close') %></button>
                        <%= button_tag(type: 'submit', class: 'btn btn-primary', :id => "search", :disabled => "true") do %>
                          <%= t('views.alertc_index.search') %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <!--------------------------------- prueba modal --------------------------------->


            <br>
          </div>
        </div>

        <% if @filtro.present? %>

          <div class="row">
            <div class="col-lg-4">
              <h3 class="test"><%= t('all.query') %>: <%= @filtro.gsub(/[%]/, ' ').titleize %></h3>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="form-group">
                    <%= link_to t('all.clean'), states_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        <% end %>


        <div class="row">
          <div class="col-sm-4">
            <br>
            <br>
            <%# if @crearArea == 8 %>
            <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.areas_index.new'), new_state_path, :class => 'btn btn-xs btn-info dim' %>
            <%# end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <% if !@estados.nil? %>
                <div class="detall_left">
                  <%= page_entries_info @estados, entry_name: t('all.states_alert') %>
                </div>
                <div class="pag_right">
                  <%= paginate @estados, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
              <% else %>
                <div class="detall_left">
                  <%= page_entries_info @states, entry_name: t('all.states_alert') %>
                </div>
                <div class="pag_right">
                  <%= paginate @states, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="table table-responsive overflow col-sm-3" tabindex="5005" style="overflow: hidden; outline: none;">
          <table class="table footable no-paging" data-filter=#filter data-page-size="10">
            <thead>
            <tr>
              <th class="text-center" data-sort-ignore="true"><%= t('views.states_index.name') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.states_index.fraud') %></th>
              <th class="text-center" data-sort-ignore="true"><%= t('views.states_index.message_default') %></th>
              <th class="text-center"><%= t('all.show') %></th>
              <th class="text-center"><%= t('all.edit') %></th>
              <th class="text-center"><%= t('views.areas_index.destroy') %></th>
            </tr>
            </thead>

            <tbody>
            <%# if @states.present? %>
            <!-- Es nulo? <%#= @arreglo_graph_states.nil? %> -->
            <% if !@estados.nil? %>
              <!--entre al arreglo lleno-->

              <!------ Array ------>
              <% @estados.each do |estados| %>
                <tr>
                  <td class="text-center"><%= estados[:name] %></td>
                  <td class="text-center">

                    <% if estados[:fraude] == 0 %>
                      <%= t('views.states_index.fraud_no') %>
                    <% elsif estados[:fraude] == 1 %>
                      <%= t('views.states_index.fraud_yes') %>
                    <% elsif estados[:fraude] == 2 %>
                      <%= t('views.states_index.fraud_pend') %>
                    <% end %>
                  </td>
                  <td class="text-center">

                    <% if estados[:mensaje].present? %>
                      <%= estados[:mensaje] %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>

                  <td class="text-center"><%= link_to '<button class="btn btn-primary btn-xs"><i class="fa fa-file-text"></i></button>'.html_safe, state_path(:id => estados[:est]) %></td>
                  <td class="text-center"><%= link_to '<button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button>'.html_safe, edit_state_path(:id => estados[:est]) %></td>
                  <td class="text-center">

                    <% reg = Tbitacora.where(:IdEstado => estados[:est]).count %>
                    <% reg %>
                    <% if reg > 0 %>
                      <button type="button" class="btn btn-info btn-xs" id="informacion"><i class="fa fa-question"></i>
                      </button>
                    <% else %>
                      <%= link_to '<button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>'.html_safe, states, method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <!--entre al arreglo vacío-->
              <% @states.each do |states| %>
                <tr>
                  <td class="text-center"><%= states.Descripcion %></td>
                  <td class="text-center">
                    <% if states.falso_positivo == 0 %>
                      <%= t('views.states_index.fraud_no') %>
                    <% elsif states.falso_positivo == 1 %>
                      <%= t('views.states_index.fraud_yes') %>
                    <% elsif states.falso_positivo == 2 %>
                      <%= t('views.states_index.fraud_pend') %>
                    <% end %>
                    <br>
                  </td>
                  <td class="text-center">
                    <% if states.mensajeDefault.present? %>
                      <%= states.mensajeDefault %>
                    <% else %>
                      N/A
                    <% end %>

                  </td>
                  <td class="text-center"><%= link_to '<button class="btn btn-primary btn-xs"><i class="fa fa-file-text"></i></button>'.html_safe, state_path(:id => states.IdEstado) %></td>
                  <td class="text-center"><%= link_to '<button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></button>'.html_safe, edit_state_path(:id => states.IdEstado) %></td>
                  <td class="text-center">
                    <% reg = Tbitacora.where(:IdEstado => states.IdEstado).count %>
                    <%#= reg %>
                    <% if reg > 0 %>
                      <button type="button" class="btn btn-info btn-xs" id="informacion"><i class="fa fa-question"></i>
                      </button>
                    <% else %>
                      <%= link_to '<button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>'.html_safe, states, method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            <!------ Array ------>


            </tbody>

          </table>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <%# if @crearArea == 8 %>
            <%= link_to '<span class="fa fa-sticky-note"></span> '.html_safe + t('views.areas_index.new'), new_state_path, :class => 'btn btn-xs btn-info dim' %>
            <%# end %>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5 text-right">
            <div style="margin-bottom: 2em;">
              <% if !@estados.nil? %>
                <div class="pag_right">
                  <%= paginate @estados, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
                <div class="detall_right">
                  <%= page_entries_info @estados, entry_name: t('all.states_alert') %>
                </div>
              <% else %>
                <div class="pag_right">
                  <%= paginate @states, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
                </div>
                <div class="detall_right">
                  <%= page_entries_info @states, entry_name: t('all.states_alert') %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<script>

    function recargar() {
        window.location.reload(true);
    }

    $('#informacion').on('click', function () {
        swal({
            title: '<%= t('views.states_index.alert_important') %>',
            type: 'info',
            text: '<%= t('views.states_index.exist_al') %>',
            confirmButtonColor: "#3472a4",
            confirmButtonText: "OK",
            closeOnConfirm: true,
        })
    })


    $('#searchByName').on('input', function () {
        $('#valorName').val($(this).val().replace(/ /g, '%'))
    })

    $('#searchByFraud').on('input', function () {
        $('#valorFraud').val($(this).val().replace(/ /g, '%'))
    })

    $('#searchByMessage').on('input', function () {
        $('#valorMessage').val($(this).val().replace(/ /g, '%'))
    })


    // $('#btnSub').click(function () {
    //     var reN = $('#valorName').val()
    //     var reF = $('#valorFraud').val()
    //     var reM = $('#valorMessage').val()
    //
    //     var reemN = reN.replace(/ /g, '%')
    //     var reeF = reF.replace(/ /g, '%')
    //     var reeM = reM.replace(/ /g, '%')
    //
    //     var reempN = reemN.replace(/\t/g, "%")
    //     var reempF = reeF.replace(/\t/g, "%")
    //     var reempM = reeM.replace(/\t/g, "%")
    //
    //     $('#valorName').val(reempN)
    //     $('#valorFraud').val(reempF)
    //     $('#valorMessage').val(reempM)
    //
    //     if ($('#valorName').val() == "" && $('#valorFraud').val() == "" && $('#valorMessage').val() == "") {
    //         swal({
    //                 title: 'Debes introducir al menos un valor!',
    //                 type: 'warning',
    //                 confirm: 'OK',
    //             },
    //             function (isConfirm) {
    //                 if (isConfirm) {
    //                     recargar()
    //                 }
    //             }
    //         )
    //     }
    //
    // })

    $('#searchByName').css('textTransform', 'capitalize')
    $('#searchByFraud').css('textTransform', 'capitalize')
    $('#searchByMessage').css('textTransform', 'capitalize')


    $(document).ready(function () {
        $(".test").html($(".test").html().replace(/,/g, ",<br>"));
        $(".test").html($(".test").html().replace(/Query: /g, "Query: <br>"));
        $(".test").html($(".test").html().replace(/Consulta: /g, "Consulta: <br>"));
    });

</script>

<!---------- Modal ---------->


<% content_for :javascript do %>


  <script type="text/javascript" charset="utf-8">
      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green',
      });


      //---------- YA APARECE EL IMPUT
      var config = {
          '.chosen-select': {},
          '.chosen-select-deselect': {allow_single_deselect: true},
          '.chosen-select-no-single': {disable_search_threshold: 10},
          '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
          '.chosen-select-width': {width: "250%"}
      }
      for (var selector in config) {
          $(selector).chosen(config[selector]);
      }

      $('#states').on('shown.bs.modal', function () {
          for (var selector in config) {
              $(selector).chosen(config[selector]);
              $('.chosen-select', this).chosen('destroy').chosen();
          }
          // $(".chosen-select").chosen()

      });
      //---------- YA APARECE EL IMPUT

      $("#states_sel").change(function () {
          var states = $(this).val()
          var fraude_si = $("#fraud_yes").parent().hasClass("checked")
          var fraude_no = $("#fraud_no").parent().hasClass("checked")
          var fraude_def = $("#fraud_def").parent().hasClass("checked")
          var us = $('#users_st').val()


          //if (!states) {
          if (states == null || states == "null") {
              console.log('entre a states nulo')
              $("#search").attr("disabled", true)
              var msg = "<%= t('views.niv_alert_index.error_state')%>";
              document.getElementById('errorStates').innerHTML = msg;
              $("#errorStates").show()
              $("ul.chosen-choices").css("border", "1px dotted #8b0000")
              $("#valor_states").val("")

          } else {

              var estados = String(states)
              $("#valor_states").val(estados)
              //if (producto != "" || groups != "" || comboPerfiles != "" || filtros != "" || (start_date != "" && end_date != "") || (layout != "" && layout_valor != "") || fraude_si || fraude_no) {
              if (fraude_si != false || fraude_no != false || fraude_def != false || states != null || us != "" || us != null) {
                  console.log('entre a states no es nulo')
                  $("#search").attr("disabled", false)
                  $("#errorStates").hide()
                  $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                  var estados = String(states)
                  $("#valor_states").val(estados)
              } else {
                  //if (producto != "" && groups != "" && comboPerfiles != "" && filtros != "" && (start_date != "" && end_date != "") && (layout != "" && layout_valor != "") && fraude_si && fraude_no) {
                  if (fraude_si != "" && fraude_no != "" || fraude_def != "") {
                      $("#search").attr("disabled", false)
                      $("#errorStates").hide()
                      $("ul.chosen-choices").css("border", "1px solid #e5e6e7")
                      var estados = String(states)
                      $("#valor_states").val(estados)
                  }
              }
          }
      })

      $("#cerrar").on('click', function () {
          $('#states_sel').val("")
          $('#valor_states').val("")
          $('.i-checks').iCheck('uncheck');
          $('#users_st').val("")
          $("#search").attr("disabled", true)

      });

      $('.close').on('click', function () {
          $('#states_sel').val("")
          $('#valor_states').val("")
          $('.i-checks').iCheck('uncheck');
          $('#users_st').val("")
          $("#search").attr("disabled", true)
      })

  </script>
<% end %>

<style>
  canvas {
    width: 300px;
    height: 140px;
  }

  /*datepicker y select chosen multi selección aparezcan en modal*/
  .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    z-index: 99999 !important;
  }

  .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
    z-index: 99999 !important;
  }

  div#states_chose {
    z-index: 99999 !important;
  }

  div#states_chose {
    z-index: 99999 !important;
  }

  label {
    font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";;
  }

  .filtro {
    cursor: pointer;
  }

  .filtro label {
    cursor: pointer;
  }

  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

  .wrapper-content {
    padding: 10px 10px 0px 10px;
  }

  .result_filter {
    padding: 0px 10px 0px 10px;
  }
</style>

<!---------- Modal ---------->