<%
  @atendidas = Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where.not(:IdUsuario => "N/A").count
%>

<h1 class="no-margins"><%= number_with_delimiter( @atendidas, :delimiter => ',' )%></h1>