<%
  @cur = current_user.profile_id

  @users_p = Permission.where(:view_name => "Users").where(:profile_id => @cur).first
  @profiles_p = Permission.where(:view_name => "Profiles").where(:profile_id => @cur).first
  @areas_p = Permission.where(:view_name => "Profiles").where(:profile_id => @cur).first
  @sessions_p = Permission.where(:view_name => "Sessions").where(:profile_id => @cur).first
  @priority_t_p = Permission.where(:view_name => "UserAttentionPriorityTransaccional").where(:profile_id => @cur).first
  @priority_p_p = Permission.where(:view_name => "UserAttentionPriorityPerfiles").where(:profile_id => @cur).first
  @categorization_p = Permission.where(:view_name => "FilterCategorization").where(:profile_id => @cur).first
  @states_p = Permission.where(:view_name => "States").where(:profile_id => @cur).first
  @email_p = Permission.where(:view_name => "EmailGroups").where(:profile_id => @cur).first
  @schedule_p = Permission.where(:view_name => "ScheduleConfiguration").where(:profile_id => @cur).first
%>
<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('all.settings_n') %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% if @users_p.present? %>
    <% if @users_p.editar == 4 || @users_p.leer == 2 || @users_p.eliminar == 1 %>
      <%= link_to users_path do %>
        <div class="col-xs-5">
          <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-users fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.user') %></h2>
              <br>
              <small><%= t('all.user_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-5">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-users fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.user') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-5">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-users fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.user') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @profiles_p.present? %>
    <% if @profiles_p.crear == 8 || @profiles_p.editar == 4 || @profiles_p.leer == 2 || @profiles_p.eliminar == 1 %>
      <%= link_to profiles_path do %>
        <div class="col-xs-3">
          <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-user fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.profiles') %></h2>
              <br>
              <small><%= t('all.profiles_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-3">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-user fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.profiles') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-3">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-user fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.profiles') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @areas_p.present? %>
    <% if @areas_p.crear == 8 || @areas_p.editar == 4 || @areas_p.leer == 2 || @areas_p.eliminar == 1 %>
      <%= link_to areas_path do %>
        <div class="col-xs-4">
          <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-sticky-note fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.areas') %></h2>
              <br>
              <small><%= t('all.areas_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-sticky-note fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.areas') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-sticky-note fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.areas') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% if @sessions_p.present? %>
    <% if @sessions_p.crear == 8 || @sessions_p.editar == 4 || @sessions_p.leer == 2 || @sessions_p.eliminar == 1 %>
      <%= link_to tx_sessions_index_path do %>
        <div class="col-xs-4">
          <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-filter fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.filters') %></h2>
              <br>
              <small><%= t('all.filters_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-filter fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.filters') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-filter fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.filters') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @priority_t_p.present? || @priority_p_p.present? %>
    <% if @priority_t_p.crear == 8 || @priority_t_p.editar == 4 || @priority_t_p.leer == 2 || @priority_t_p.eliminar == 1 || @priority_p_p.crear == 8 || @priority_p_p.editar == 4 || @priority_p_p.leer == 2 || @priority_p_p.eliminar == 1 %>
      <%= link_to user_priority_index_path do %>
        <div class="col-xs-5">
          <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-arrow-up fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.user_p') %></h2>
              <br>
              <small><%= t('all.user_p_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-arrow-up fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.user_p') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-arrow-up fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.user_p') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @categorization_p.present? %>
    <% if @categorization_p.crear == 8 || @categorization_p.editar == 4 || @categorization_p.leer == 2 || @categorization_p.eliminar == 1 %>
      <%= link_to filtering_categorizations_path do %>
        <div class="col-xs-3">
          <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-random fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.filter_category') %></h2>
              <br>
              <small><%= t('all.filter_category_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-random fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.filter_category') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-random fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.filter_category') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="row">
  <% if @states_p.present? %>
    <% if @states_p.crear == 8 || @states_p.editar == 4 || @states_p.leer == 2 || @states_p.eliminar == 1 %>
      <%= link_to states_path do %>
        <div class="col-xs-3">
          <div class="widget dark-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-adjust fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.states_alert') %></h2>
              <br>
              <small><%= t('all.states_alert_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-adjust fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.states_alert') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-adjust fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.states_alert') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @email_p.present? %>
    <% if @email_p.crear == 8 || @email_p.editar == 4 || @email_p.leer == 2 || @email_p.eliminar == 1 %>
      <%= link_to groups_path do %>
        <div class="col-xs-4">
          <div class="widget dark-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-envelope fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.mail_Groups') %></h2>
              <br>
              <small><%= t('all.mail_Groups_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-envelope fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.mail_Groups') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-envelope fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.mail_Groups') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>

  <% if @schedule_p.present?%>
    <% if @schedule_p.crear == 8 || @schedule_p.editar == 4 || @schedule_p.leer == 2 || @schedule_p.eliminar == 1 %>
      <%= link_to gestor_settings_path do %>
        <div class="col-xs-5">
          <div class="widget dark-bg p-lg text-center">
            <div class="m-b-md">
              <i class="fa fa-clock-o fa-4x"></i>
              <br>
              <h2 class="m-xs"><%= t('all.gestor_set') %></h2>
              <br>
              <small><%= t('all.gestor_set_d') %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-4">
        <div class="widget disabled-bg p-lg text-center">
          <div class="m-b-md">
            <i class="fa fa-clock-o fa-4x"></i>
            <br>
            <h2 class="m-xs"><%= t('all.gestor_set') %></h2>
            <br>
            <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-4">
      <div class="widget disabled-bg p-lg text-center">
        <div class="m-b-md">
          <i class="fa fa-clock-o fa-4x"></i>
          <br>
          <h2 class="m-xs"><%= t('all.gestor_set') %></h2>
          <br>
          <small style="color: #0b1016; background: #9fa0a2"><b> <%= t('all.not_access') %> </b></small>
        </div>
      </div>
    </div>
  <% end %>
</div>