<%= form_with(model: permission, local: true) do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :permission_name %>
  </div>

  <div class="field">
    <%= form.label :crear %>
    <%= form.number_field :crear, id: :permission_crear %>
  </div>

  <div class="field">
    <%= form.label :editar %>
    <%= form.number_field :editar, id: :permission_editar %>
  </div>

  <div class="field">
    <%= form.label :leer %>
    <%= form.number_field :leer, id: :permission_leer %>
  </div>

  <div class="field">
    <%= form.label :eliminar %>
    <%= form.number_field :eliminar, id: :permission_eliminar %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.number_field :permission_id, id: :permission_permission_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
