<%= stylesheet_link_tag "tx_sessions" %>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title" >
      <% if action_name == "new" %>
        <h2><%= t('views.tx_session_new.title') %> </h2>
      <% else %>
        <h2>Edit Session</h2>
      <% end %>
    </div>
    <div class="traducciones" style="display: none;">
      <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
      <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
      <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
      <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
      <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
      <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
      <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
      <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
      <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
      <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
      <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
      <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
      <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
      <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
      <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
      <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
      <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
      <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
      <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
      <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
      <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
      <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
      <input type="hidden" id="name_session_exists" value="<%= t('views.tx_session_new.name_session_exists') %>">
    </div>
    <div class="ibox">
      <div class="ibox-content">
        <%= form_for @tx_session, :html => {:class => 'wizard-big', :id => 'form'} do |f| %>
          <% if @tx_session.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tx_session.errors.count, "error") %> prohibited this tx_session from being saved:</h2>

              <ul>
              <% tx_session.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <input id="userId" type="hidden" value="<%= current_user.id %>">
          <h1><i class="fa fa-user-circle"></i> <%= t('views.tx_session_index.session') %></h1>

          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <h3 class="text-center"><%= t('views.tx_session_new.subtitle') %></h3>
            <br>
            <%#= f.hidden_field :Format_id, :value => 1 %>
            <%#= f.hidden_field :Lay_id, :value => 1 %>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Lay_id, "Layout" %>
                  <select id="layout" class="form-control m-b-10 selectLay" name="selectLay">
                    <option value=""><%= t('views.tx_session_new.select_lay') %></option>
                    <% @Lay = Tlay.all%>
                    <% @Lay.each do |lays| %>
                      <option value="<%= lays.IdLay %>" name="optionLay"><%= lays.Descripcion %></option>
                    <% end %>
                  </select>
                  <span id="span_session" class="btn btn-danger btn-xs" style="display: none"></span>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Format_id, "Formato" %>
                  <select id="format" class="form-control m-b-10 selectFormat" name="selectFormato" disabled >
                    <option value=""><%= t('views.tx_session_new.select_format') %></option>
                  </select>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Description, t('all.description'), for:'des_session' %>
                  <%= f.text_field :Description, id:'des_session',:class => "form-control", :required => true, :placeholder => t('views.tx_session_new.place_description'), :autocomplete => :off %>
                </div>
              </div>

            </div>
          </fieldset>

          <% if @edt == false %>
            <!-- Nombre del filtro -->
            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_index.title') %></h1>
            <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_new.title') %></h3>
              <br>
              <div class="row">
                <div class="form-group col-lg-6">
                  <%= f.label :Description, t('views.tx_filter_new.description'), for:'des_filter' %>
                  <input type="text" id="des_filter" class="form-control" name="filter_name" placeholder="<%= t('views.tx_filter_new.place_description') %>" autocomplete="off" required name="filter_description" required>
                </div>
                <div class="col-md-3 col-lg-3">
                  <div class="form-group">
                    <label><%= t('views.tx_filter_new.type_filter') %></label>
                    <select id="typeFilter" name="type_filter" class="form-control filterSession">
                      <option value=""><%= t('views.tx_filter_new.select_type_filter') %></option>
                      <option value="0"><%= t('views.tx_filter_new.option_main') %></option>
                      <option value="1"><%= t('views.tx_filter_new.option_general') %></option>
                      <option value="2"><%= t('views.tx_filter_new.option_group') %></option>
                    </select>
                  </div>
                </div>


                <div class="back-change">
                  <div class="form-group col-lg-3 col-md-3 colorPicker" style="display: none">
                    <label for=""><%= t('views.tx_filter_new.filter_color')  %></label>
                    <input type="text" class="form-control demo" id="backgroundColor" name="backgroundColor" autocomplete="off">
                    </select>
                  </div>
                  <div class="form-group col-lg-3 col-md-3 choseSelect" style="display: none">
                    <label><%= t('views.tx_filter_new.group') %></label>
                    <br>
                    <select data-placeholder="<%= t('views.tx_filter_new.place_group') %>" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <!--## Termina Nombre del filtro -->

            <!-- Detalle del filtro "Cpondiciones" -->
            <h1><i class="fa fa-filter"></i> <%= t('views.tx_filter_detail_index.title') %></h1>
            <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center"><%= t('views.tx_filter_detail_index.title') %></h3>
              <br>
              <br>
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.feild') %></label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.operators') %></label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                    <option value="8"> Between </option>
                    <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                      <option value="1">Tarj_Vip</option>
                      <option value="2">Tarj_Master</option>
                      <option value="3">Tarj_Visa</option>
                      <option value="4">Linea_Blanca</option>
                      <option value="5">Master</option>
                      <option value="6">Amex</option>
                    </select>
                  </div>

                  <!--                    <div class="anchoSelect">-->
                  <!--                      <label>Connector List</label>-->
                  <!--                      <select name="" id="" class="form-control">-->
                  <!--                        <option value=""> Select Connector List </option>-->
                  <!--                        <option value="1"> AND </option>-->
                  <!--                        <option value="0"> OR </option>-->
                  <!--                      </select>-->
                  <!--                    </div>-->

                  <div class="anchoSelect">
                    <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                    <br>
                    <%= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                    </div>
                    <!--                      <button class="btn btn-success btn-xs"><i class="fa fa-upload"></i></button>-->
                  </div>

                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-6">
                  <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                    <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                    <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                  </select>
                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-3 text-center altura contDenied">
                  <label><%= t('views.tx_filter_detail_new.denied') %></label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-3 text-center altura">
                  <div>
                    <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                    <br>
                    <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="0" value="-1">(</option>
                    <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                    <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                    <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                  </select>
                </div>
              </div>

              <input type="hidden" id="condicionesFiltro" name="condicionesFiltro" value="">

              <div class="row col-lg-8" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12 text-right">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.denied') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                        <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                        <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </fieldset>


            <!-- Mensaje de alerta -->
            <h1><i class="fa fa-clock-o"></i> Horario</h1>
            <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
              <div class="text-center" style="margin-bottom: 4em;">
                <h3>Configuración de Horario, Mensaje Y Refencía</h3>
              </div>
              <section class="row">

                <!-- Configuración del horario -->
                <article class="col-lg-5">
                  <div class="header-subtitle">
                    <h4>Configuración de Horario</h4>
                  </div>
                  <div class="bg-light flexbox-horario">
                    <!-- Hora de inicio -->
                    <div class="form-custom">
                      <label for=""><%= t('views.tx_filter_schedules_index.sh_start') %></label>
                      <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                        <input type="text" id="time_start" name="Hr_Start" class="form-control" placeholder="Hora inicio" autocomplete="off" required>
                      </div>
                    </div>

                    <!-- Hora de Termino -->
                    <div class="form-custom">
                      <%= f.label :Hr_End, t('views.tx_filter_schedules_index.sh_end') %>
                      <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                    <span class="input-group-addon">
                     <i class="fa fa-clock-o"></i>
                    </span>
                        <%#= f.text_field :Hr_End, id:'time_end', class:'form-control', placeholder:'Seleccione una hora', require: true, autocomplete:'off' %>
                        <input type="text" id="time_end" name="Hr_End" class="form-control" placeholder="Hora fin" autocomplete="off" required>
                      </div>
                    </div>

                    <!-- Aquí se define el limite y si este es máximo o mínimo -->
                    <div class="form-custom">
                      <%#= f.label :Max_Tran, 'M' %>
                      <label for=""><%= t('views.tx_filter_schedules_index.limit') %></label>
                      <div class="input-select-unidos">
                        <select name="select_limit" id="limite" class="form-control" >
                          <option value="1">Máximo</option>
                          <option value="2">Mínimo</option>
                        </select>
                        <input type="text" id="limit_tran" class="form-control" name="limit" placeholder="Ingrese Limite" autocomplete="off" required>
                      </div>
                    </div>

                    <!-- Aquí se define el Intervalo -->
                    <div class="form-custom">
                      <%#= f.label :Interval, t('views.tx_filter_schedules_index.interval') %>
                      <label for=""><%= t('views.tx_filter_schedules_index.interval') %></label>
                      <div class="input-select-unidos">
                        <%#= f.number_field :Interval, class:'form-control', placeholder:'Ingrese un Intervalo', autocomplete:"off" ,required: true %>
                        <select name="UMInterval" id="select_Interval_time" class="form-control">
                          <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                          <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                        </select>
                        <input type="text" id="interval" name="Interval" class="form-control" placeholder="Ingrese un Intervalo" autocomplete="off" required>

                      </div>
                    </div>

                    <!-- Aquí se define el Time Out -->
                    <div class="form-custom">
                      <label for="">Tiempo Fuera</label>
                      <div class="input-select-unidos">
                        <%#= f.number_field :TimeOut, class:'form-control', placeholder:'Ingrese un Timpo Fuera', autocomplete:"off" %>
                        <select name="UMTimeout" id="select_timeout_time" class="form-control" >
                          <option value="-1">UM</option>
                          <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                          <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                        </select>
                        <input type="text" id="timeOut" name="TimeOut" value="0" class="form-control" placeholder="Ingrese un Timpo Fuera" autocomplete="off" required>

                      </div>
                    </div>

                    <!-- Aquí se define el Intermedio -->
                    <div class="form-custom optional" style="display: none;">
                      <%#= f.label :Intermediate, 'Intermedio' %>
                      <label for="">Intermedio</label>
                      <div class="input-select-unidos">
                        <%#= f.number_field :Intermediate, class:'form-control', placeholder:'Ingrese un Intermedio', autocomplete:"off" %>
                        <select name="UMIntermediate" id="select_intermediate_time" class="form-control">
                          <option value="-1">UM</option>
                          <option value="0"><%= t('views.tx_filter_schedules_index.min') %></option>
                          <option value="1"><%= t('views.tx_filter_schedules_index.sec') %></option>
                        </select>
                        <input type="text" id="intermediate" name="Intermediate" value="0" class="form-control" placeholder="Ingrese un Intermedio" autocomplete="off" >

                      </div>
                    </div>

                  </div>
                </article>

                <!-- Contenedor de los mensaje de Alerta -->
                <article class="col-lg-5">
                  <div class="header-subtitle flex-mensaje">
                    <h4>Mensajes de Alertas</h4>
                    <span id="addMsn" class="btn btn-tunning btn-xs" title="Agregar Mensaje" data-toggle="modal" data-target="#modal1" title="Agregar Mensaje"><i class="fa fa-plus"></i></span>
                  </div>
                  <div class="bg-light cont-tab-msn">
                    <table class="table table-striped table-responsive" >
                      <thead>
                      <tr>
                        <th>Escalamiento</th>
                        <!--                      <th>Color</th>-->
                        <th>Mensaje</th>
                      </tr>
                      </thead>
                      <tbody class="mensaje-de-alerta">
                      <!-- Se llenara dinamicamente con los mensajes agregados por el usuario -->
                      </tbody>
                    </table>
                  </div>
                </article>

                <!-- Contenedor de campos refencía-->
                <input type="hidden" id="campRefCr" name="camposRef" value="">
                <article class="col-lg-2">
                  <div class="header-subtitle">
                    <h4>campos de Referencía</h4>
                  </div>
                  <div class="content_campos">
                    <table class="table table-striped table-hover" >
                      <thead>
                      <tr>
                        <th >Elige</th>
                        <th >Campo</th>
                      </tr>
                      </thead>
                      <tbody id="campos_alerta">
                      <!-- Se llenara dinamicamente dependeiendo del filtro que el usuario elija -->
                      </tbody>
                    </table>
                  </div>
                </article>

              </section>
              <!--## Termina Configuración del horario -->
            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ##### Modal Configurar Mensaje de Alerta #######-->
<section class="modal fade bs-example-modal-lg" id="modal1" tabindex="-1" role="dialog" >
  <!--  <div class="modal-size">-->
  <div class="modal-size-msn">

    <div class="modal-content">

      <!-- Header de la Modal -->
      <div class="modal-header" style="background-color: #003057; color: #fff;">
        <button id="btncloseModal" class="close" data-dismiss="modal" arial-label="Cloase"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Configuración del Mensaje</h4>
      </div>

      <input type="hidden" id="id_msn_alert">
      <div class="campos_modal p-m">

        <div class="msn content_table_campos">
          <table class="table table-striped table-responsive table-hover" >
            <thead>
            <tr>
              <th>Nombre</th>
            </tr>
            </thead>
            <tbody id="campos_modal_table">
            <!-- Los campos se llenan de forma dinamica -->
            </tbody>
          </table>
        </div>

        <div class="msn content_config m-l-lg m-r-lg">
          <div class="form-group d-flex">
            <label>Campo: <span id="campoSelect" class="text-info"></span></label>
            <label>Longitud: <span id="longCampoSelect" class="text-info"></span></label>
            <input type="hidden" id="long_campo" class="form-control">
          </div>

          <div class="form-group content-radios">
            <label for="">
              <input type="radio" id="rango" name="optionMsn" value="1" checked >
              Rango
            </label>

            <label for="">
              <input type="radio" id="primeros" name="optionMsn" value="2" >
              Primeros
            </label>

            <label for="">
              <input type="radio" id="ultimos" name="optionMsn" value="3" >
              Últimos
            </label>
          </div>

          <div class="form-group">

            <div class="rangos">
              <div class="form-group">
                <label for="">Posición</label>
                <input type="text" id="posInputConf" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Longitud</label>
                <input type="text" id="longInputConf" class="form-control">
              </div>
            </div>




            <div class="form-group ultimos">
              <label for="">Últimos</label>
              <input type="text" id="ultimosInp" class="form-control">
            </div>

            <div class="form-group primeros">
              <label for="">Primeros</label>
              <input type="text" id="primerosInp" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="">Dividir / 100</label>
            <input type="checkbox" id="dividir">
          </div>

          <button id="btnAddMsn" class="btn btn-primary btn-xs">Aplicar</button>
        </div>

        <div class="msn content-ta m-r-lg">
          <h5>Mensaje</h5>
          <textarea id="mensaje_alerta" cols="30" rows="5" class="form-control" placeholder="Escribe tu mensaje..." style="resize: none; height: 90%"></textarea>
        </div>

      </div>

      <div class="p-m">
        <div class="btn-groups inputsCheckboxMsn" data-toggle="buttons">
          <div>
            <h5>Opciones de Mensaje</h5>
          </div>

          <strong>Fecha/Hora</strong>
          <label id="fecha" class="btn btn-primary btn-xs m-r">
            <input type="checkbox" id="fechaMsn" value="0" autocomplete="off">
            <span class="fa fa-check"></span>
          </label>

          <strong>Descripción</strong>
          <label id="descripcion" class="btn btn-primary btn-xs m-r">
            <input type="checkbox" id="desMsn" value="0" autocomplete="off">
            <span class="fa fa-check"></span>
          </label>

          <strong>Escala</strong>
          <label id="escala" class="btn btn-primary btn-xs m-r">
            <input type="checkbox" id="escalaMsn" value="0" autocomplete="off">
            <span class="fa fa-check"></span>
          </label>

          <strong>Limites</strong>
          <label id="limite" class="btn btn-primary btn-xs m-r">
            <input type="checkbox" id="limitesMsn" value="0" autocomplete="off">
            <span class="fa fa-check"></span>
          </label>


          <strong>Refencias</strong>
          <label id="refecia" class="btn btn-primary btn-xs m-r">
            <input type="checkbox" id="referenciMsn" value="0" autocomplete="off">
            <span class="fa fa-check"></span>
          </label>
        </div>
      </div>

      <!-- Guardar mensajes -->
      <div class="actions p-m">
        <span id="saveMsn" class="btn btn-primary btn-xs" data-dismiss="modal" arial-label="Cloase"><%= t('all.save') %></span>
        <!--          <span id="cancelMsn" class="btn btn-primary btn-xs"><%#= t('all.cancel') %></span>-->
      </div>
    </div>
  </div>
</section>
<!-- Fin de la Creando Modal -->

<script type="text/javascript" charset="utf-8">

  let edit = <%= @edt %>,
      formS = $("#form");


  formS.steps({
      bodyTag: "fieldset",
      enableCancelButton: true,
      enableFinishButton: true,

      onStepChanging: function (event, currentIndex, newIndex) {
          // Always allow going backward even if the current step contains invalid fields!
          if (currentIndex > newIndex) {
              return true;
          }
          var form = $(this);
          // Clean up if user went backward before
          if (currentIndex < newIndex) {
              // To remove error styles
              $(".body:eq(" + newIndex + ") label.error", form).remove();
              $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
          }
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
      },
      onStepChanged: function (event, currentIndex, priorIndex) {

          if(currentIndex === 3){

          } else {

              btn_finish.css('display', 'none');
          }

      },
      onFinishing: function (event, currentIndex) {
          var form = $(this);
          // Disable validation on fields that are disabled.
          // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
          form.validate().settings.ignore = ":disabled";
          // Start validation; Prevent form submission if false
          return form.valid();
      },
      onFinished: function (event, currentIndex) {
          if( !edit ){
              // creacionSesion();
              let arrCondiFiltro = [],
                  arrCamposRef = [],
                  td = $('.tBodyCondition').find('td.filterCondi'),
                  campoRefSe = $('#campos_alerta').find('input:checked');

              //Valores de detalle de filtro
              td.each(function () {
                  valor = $(this).html();
                  arrCondiFiltro.push(valor);
              });

              $('#condicionesFiltro').val(arrCondiFiltro);

              //Valores de campos de referencias
              campoRefSe.each(function(){
                  idCampo = $(this).val();
                  console.log($(this).val());

                  arrCamposRef.push(idCampo);

              });

              $('#campRefCr').val(arrCamposRef);


              formS.submit();
          } else{
              formS.submit();
          }
      },
      onCanceled: function (event, currentIndex) {
          window.location.href = '/tx_sessions/';
      },

      // Texto para botones
      labels: {
          cancel: 'Cancelar',
          finish: 'Finalizar',
          next: 'Siguiente',
          previous: 'Anterior'

      }

  });

  if( !edit ){
      btn_finish = $('.actions ul').children().eq(2);
      btn_finish.css('display', 'none');
  }


</script>