<tr id="<%= fil.id %>" class="treegrid-<%= @order %> treegrid-parent-<%= @parent %>">
  <td><strong class="filDes"><%= fil.Description %></strong></td>
  <td>
    <% if fil.Order_number == 0 %>
      <div class="cube-bg cube-filter-primray "></div> <span class="typeFiSpa">Principal</span>
    <% elsif fil.Order_number != 0 %>
      <div class="cube-bg cube-filter-sec "></div> <span class="typeFiSpa">Secundario</span>
    <%# else if  %>
<!--      <div class="cube-bg cube-filter-group "></div> <span class="typeFiSpa">Grupal</span>-->
    <% end %>
  </td>
  <td><input type="checkbox" class="democ" onclick="toggle(this)"></td>
  <% @tx_filter_schedules = TxFilterSchedule.where(:filter_id => fil.id).count %>
  <td>
    <% if @tx_filter_schedules > 0  %>
      <a class="btn btn-primary btn-xs"><%= @tx_filter_schedules %></a> |
    <% else  %>
      <span class="text-danger bg-danger">Sin horarios</span> |
    <% end %>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_tx_filter_schedule_path(:idFiltro => fil.id), remote: true, class:'btn btn-primary btn-xs' %>
  </td>
  <td>Referencia</td>
  <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_tx_filters_path(fil), remote: true, class:'btn btn-warning btn-xs' %></td>
  <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, fil, method: :delete, class:'btn btn-danger btn-xs' %></td>
</tr>