<%= stylesheet_link_tag "tx_sessions" %>
<!--<p id="notice"><%#= notice %></p>-->
<input id="userId" type="hidden" name="userId"value="<%= current_user.id %>">
<div class="row ">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.tx_session_index.session') %></h1>
        <div class="ibox-content">
          <% if @crearSession = 8 %>
            <%= link_to '<button class="btn btn-primary btn-xs" type="button" title="New Session"><i class="fa fa-user-circle-o"></i> '.html_safe + t('all.new') + '</button>'.html_safe, new_tx_sessions_path %>
          <% end %>
          <br/>
          <br/>

          <div class="row">
            <div class="col-lg-12 text-right">
              <div>
                <%= page_entries_info @tx_sessions, entry_name: t('views.tx_session_index.session') %>
              </div>
              <%= paginate @tx_sessions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm"%>
            </div>
          </div>
          <table class="tree table text-center">
            <thead>
              <tr>
                <th class="text-center" >#</th>
                <th class="text-center" ><%= t('views.tx_session_index.description') %></th>
                <th class="text-center" >Campos Referencía</th>
                <th class="text-center" ><%= t('views.tx_session_index.filter_count') %></th>
                <th class="text-center" ><%= t('views.tx_session_index.new_sess_fil') %></th>
                <th class="text-center" ><%= t('views.tx_session_index.active') %></th>
                <th class="text-center" data-hide="phone, table" class="text-center"><%= t('all.edit') %></th>
                <th class="text-center" data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
              </tr>
            </thead>
            <tbody>
            <% @order = 0 %>
            <%# numSes = 0 %>
              <% @tx_sessions.each do |tx_session| %>
                <% @order +=1 %>
                <%# numSes +=1 %>
                <% @parent = @order %>
                <tr id="session<%= tx_session.id %>" class="treegrid-<%= @order %>">
                  <!-- Orden de la sesión -->
                  <td><%= tx_session.id %></td>
                  <!-- Descripción de la Sesión -->
                  <td class="nameSession"><%= tx_session.Description %></td>
                  <!-- Campos de Refencía -->
                  <td>
                    <% @references = tx_session.tx_schedule_references.all %>
                    <% @references.each do | cmpRef | %>
                      <%= cmpRef.field_formatId %>
                    <% end %>
                  </td>
                  <!-- Total de Filtros -->
                  <td>
                    <input type='hidden' id='sesion_<%= tx_session.Id %>' value='<%= tx_session.Inactive %>'>
                    <% cuenta = tx_session.tx_filters.count %>

                    <% if @editarSession = 4 %>
                      <% if cuenta >= 1%>
                        <% @id = tx_session.id %>
                        <% @filtro = TxFilter.order('order_number ASC').where(:Session_id => @id) %>
                        <a tabindex="0" class="btn btn-primary btn-xs" role="button" data-html="true" data-toggle="popover" data-trigger="focus" title="<b><%= t('views.tx_filter_index.title') %>s</b>" data-content="
                          <% @filtro.each do | filtro | %>
                            <% if filtro.Order_number == 0 %>
                              <%= @idDetalle %>
                              <input type='hidden' id='filtro_<%= filtro.Id %>' value='<%= tx_session.Id %>'>
                              <button class='btn btn-primary btn-xs edFil' value='<%=  filtro.Id %>'><%= filtro.Description %></button>
                              <br>
                            <% else %>
                                <%= @idDetalle %>
                                <input type='hidden' id='filtro_<%= filtro.Id %>' value='<%= tx_session.Id %>'>
                              -- <button class='btn btn-warning btn-xs edFil'  value='<%=  filtro.Id %>'><%= filtro.Description %></button> <button class='btn btn-danger btn-xs eliminarFiltro' value='<%=  filtro.Id %>' title='Eliminar Filtro'><i class='fa fa-trash-o'></i></button>
                                 <br>
                            <% end %>
                          <% end %>
                        ">
                          <%= cuenta %>
                        </a>
                      <% else %>
                        <span class="btn-warning btn-xs">0</span>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% @Sesions = TxFilter.order('order_number ASC').where(:Session_id => @id).where(:Order_number => 0).present? %>
                    <input type="hidden" id="<%= tx_session.id %>" name="existPrincipal" value="<%= @Sesions %>">
                    <% if @crearSession = 8 %>
                      <%= link_to '<i class="fa fa-filter"></i>'.html_safe, new_tx_filters_path(:idSession => tx_session.id), remote: true,  class:'btn btn-primary btn-xs', title:'Nuevo Filtro' %>
                    <% end %>
                   </td>
                  <td>
                    <% if tx_session.Inactive == "1" %>
                      <% check = "checked" %>
                    <% else %>
                      <% check = "" %>
                    <% end %>

                    <div class="checkbox">
                      <input type="checkbox" id=<%= tx_session.Id %> class="active" value="<%= tx_session.Inactive %>" <%= check %>>
                      <label for="checkbox1">
                      </label>
                    </div>
                  </td>
                  <td>
                    <% if @editarSession = 4 %>
                    <%= link_to '<button class="btn btn-warning btn-xs " type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_tx_sessions_path(tx_session), title:'Editar Sesión' %>
                    <% end %>
                  </td>
                  <td>
                    <% if @eliminarSession = 1 %>
                    <button class="btn btn-danger btn-xs eliminarSesion" type="button" id="<%= tx_session.Id %>" title="Eliminar Sesión" ><i class="fa fa-trash-o"></i></button>
                    <% end %>
                  </td>
                </tr>
                <!-- Crear los hijos de la Tr padre -->
                <% @tx_filter = TxFilter.where(:Session_id => tx_session.Id )  %>
                <% if @tx_filter.present? %>
                  <% @order+=1 %>
                  <tr class="treegrid-<%= @order %> treegrid-parent-<%= @parent %>" style="background-color: #003057; color: #fff;">
                    <td>Filtro</td>
                    <td>Tipo</td>
                    <td>Estado</td>
                    <td>Horario</td>
                    <td>Campos Referencia</td>
                    <td><%= t('all.edit') %></td>
                    <td><%= t('all.delete') %></td>
                  </tr>
                  <% @tx_filter.each do | fil | %>
                    <% @order+=1 %>
                    <%= render 'row', fil: fil %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <br>
          <% if @crearSession = 8 %>
          <%= link_to '<button class="btn btn-primary btn-xs" type="button" title="New Session"><i class="fa fa-user-circle-o"></i> '.html_safe + t('all.new') + '</button>'.html_safe, new_tx_sessions_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="traduciones" style="display: none;">
    <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
    <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
    <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
    <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
    <input id="deleteSession" type="hidden" value="<%= t('views.tx_session_index.btn_delete') %>">
    <input id="titleDelete" type="hidden" value="<%= t('swal.title_delete') %>">
    <input id="titleCancel" type="hidden" value="<%= t('swal.title_canceled') %>">
    <input id="txtAreSure" type="hidden" value="<%= t('swal.txt_are_sure') %>">
    <input id="txtCancel" type="hidden" value="<%= t('swal.txt_canceled') %>">
    <input id="btnConfirm" type="hidden" value="<%= t('swal.btn_confirm') %>">
    <input id="btnCancel" type="hidden" value="<%= t('swal.btn_cancel') %>">

    <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
    <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
    <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
    <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
    <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
    <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
    <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
    <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
    <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
    <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
    <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
    <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
    <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
    <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
    <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
    <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
    <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
    <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
    <input type="hidden" id="session_active_title" value="<%= t('views.tx_session_index.session_active_title') %>">
    <input type="hidden" id="session_active_txt" value="<%= t('views.tx_session_index.session_active_txt') %>">
    <input type="hidden" id="name_filter_exists" value="<%= t('views.tx_session_index.name_filter_exists') %>">
    <input type="hidden" id="session_inactive" value="<%= t('views.tx_session_index.session_inactive') %>">
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.tree').treegrid();
    });

    $("[data-toggle=popover]").popover({html: true});

</script>