<tr id="<%= horario.id %>">
  <td><%= horario.Hr_Start %></td>
  <td><%= horario.Hr_End %></td>
  <td> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe , edit_tx_filter_schedule_path(horario), remote: true, class:'btn btn-warning btn-xs' %> </td>
  <td> <%= link_to '<i class="fa fa-trash"></i>'.html_safe, horario, method: :delete, class:'btn btn-danger btn-xs' %> </td>
</tr>