<div class="row">
  <section class="col-lg-12">
    <div class="ibox-title">
      <h1><%= t('all.edit') %> <%= t('views.tx_filter_index.condition') %></h1>
    </div>
    <%= render 'form', tx_filter_detail: @tx_filter_detail %>
<!--    <%#= link_to 'Show', @tx_filter_detail %> |-->
    <%#= link_to 'Back', tx_filter_details_path %>
  </section>
</div>