<p id="notice"><%= notice %></p>

<h1>Tx Filter Details</h1>

<table>
  <thead>
    <tr>
      <th>Conditionnumber</th>
      <th>Connector</th>
      <th>Length</th>
      <th>Denied</th>
      <th>Operator</th>
      <th>Parenthesis</th>
      <th>Position</th>
      <th>Value</th>
      <th>Fieldlay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tx_filter_details.each do |tx_filter_detail| %>
      <tr>
        <td><%= tx_filter_detail.conditionnumber %></td>
        <td><%= tx_filter_detail.connector %></td>
        <td><%= tx_filter_detail.denied %></td>
        <td><%= tx_filter_detail.operator %></td>
        <td><%= tx_filter_detail.parenthesis %></td>
        <td><%= tx_filter_detail.value %></td>
        <td><%= tx_filter_detail.fieldFormat_id %></td>
        <td><%= tx_filter_detail.position %></td>
        <td><%= tx_filter_detail.lenght %></td>
        <td><%= link_to 'Show', tx_filter_detail %></td>
        <td><%= link_to 'Edit', edit_tx_filter_detail_path(tx_filter_detail) %></td>
        <td><%= link_to 'Destroy', tx_filter_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tx Filter Detail', new_tx_filter_detail_path %>
