<%= stylesheet_link_tag 'tx_filter_details' %>

<%= form_for (@tx_filter_detail), :html => {id:'formActualizar', style:'padding-bottom: 7em'} do |f| %>
  <input type="hidden" id="idFiltro" value="<%= @id %>">
  <section class="row">

    <!-- informacion del filtro -->
    <article class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="col-lg-6">
            <h5><%= t('views.tx_filter_new.update_filter') %></h5>
          </div>
          <div class="ibox-tools">
            <div class="tooltip-demo">
              <div class="switch">
                <div class="onoffswitch" data-toggle="tooltip" data-placement="right" title="Update Filter"></div>
                <input type="checkbox" class="onoffswitch-checkbox" id="active_filter" name="update_filter" value="1">
                <label class="onoffswitch-label" for="active_filter">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <%= f.hidden_field "NEW", id:'new_detail', value:true, name:'SoyNuevo' %>
          <%= f.hidden_field "LISTARCONDICIONES", value:true, name:'ListarCondiciones' %>
          <% @tx_filter.each do | filtro | %>

            <!-- El siguiente código es para Detnerminar a que sesión pertenece este filtro -->
            <div style="margin-bottom: 2em">
              <% sesionPer = TxSessions.where(:Id => filtro.Session_id) %>
              <% sesionPer.each do | sesion | %>
                <input type="hidden" id="idFilter" value="<%= filtro.Session_id %>">
                <input type="hidden" id="filterSession" value="<%= sesion.Id %>">
                <% if filtro.Session_id == sesion.Id %>
                  <p><strong><%= t('views.tx_filter_new.this_filter') %></strong> <span><%= sesion.Description %></span></p>
                <% else %>
                  <p><strong><%= t('views.tx_filter_new.this_filter_no_session') %></strong></p>
                <% end %>
              <% end %>
            </div>

            <!-- ### TERMINA El siguiente código es para Detnerminar a que sesion pertenece este filtro -->
            <div style="margin: 1em 0">
              <%= f.label t('views.tx_filter_new.description') %>
              <%= f.text_field "Descipcion Filtro", id:'desFilter', class:'form-control', name:'desFiltro', value: filtro.Description , autocomplete:'off', disabled:true, required: true %>
            </div>
            <!--### TERMINA Descripción del Filtro -->

            <!-- Variables para estilso en html -->
            <% none = "" %>
            <% if filtro.Order_number == 0 %>
              <% none = 'none' %>
            <% end %>

            <!-- Color de Filtro -->
            <div class="conte-color-filter" style="margin: 1em 0; display: <%= none %>;">
              <%= f.label t('views.tx_filter_new.filter_color') %>
              <%= f.text_field 'Color de Filtro', name:'Backgroundcolor', id:'colorFilter', class:'form-control demo', value:filtro.Backgroundcolor, autocomplete:'off', disabled:true, required: true %>
            </div>
            <!--### TERMINA Color de Filtro -->

            <!-- Consulta para verificar si existe un filtro principal en esta sesión -->
            <% disabled = '' %>
            <% if @principal = TxFilter.where(:Session_id => filtro.Session_id).where(:Order_number => 0).present? %>
              <% if filtro.Order_number != 0 %>
                <% disabled = 'disabled' %>
              <% end %>
            <% end  %>

            <!-- Tipo de Filtro -->
            <div style="margin: 1em 0">
              <%= f.label t('views.tx_filter_new.type_filter') %>
              <input type="hidden" id="tipoFiltro" value="<%= filtro.Order_number %>">
              <select id="typeFilter" name="type_filter" class="form-control filterSession" value="<%= filtro.Order_number %>" disabled required>
                <!--              <option value=""><%#= t('views.tx_filter_new.select_type_filter') %></option>-->
                <option value="0" <%= disabled %>><%= t('views.tx_filter_new.option_main') %></option>
                <option value="1"><%= t('views.tx_filter_new.option_general') %></option>
                <option value="2"><%= t('views.tx_filter_new.option_group') %></option>
              </select>
            </div>
          <% end %>

        </div>
      </div>
    </article>

    <!-- Campos de Referencia -->
    <article class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="col-lg-6">
            <h5>Actualizar Campos de Referencia</h5>
          </div>
          <div class="ibox-tools">
            <div class="tooltip-demo">
              <div class="switch">
                <div class="onoffswitch" data-toggle="tooltip" data-placement="right" title="Update Campos Referencia"></div>
                <input type="checkbox" class="onoffswitch-checkbox" id="active_camposRef" name="update_camposRef" value="1">
                <label class="onoffswitch-label" for="active_camposRef">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <!-- arraglo arraglo de id composRef -->
          <input type="hidden" id="arrCmpRe" name="arrCmpRe">

          <!-- Contenedor de tabla de campos -->
          <div class="campos_ref">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Elige</th>
                  <th>Campo</th>
                </tr>
              </thead>
              <tbody id="contentCamposRef">
                <!-- Se agrega de forma dinamica los campos de referencia -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </article>

    <!-- Horarios y mensaje -->
    <article class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="col-lg-6">
            <h5>Actualizar Horarios</h5>
          </div>
          <div class="ibox-tools">
<!--            <a href="/tx_filter_schedules/new?id=<%#= @id %>" class="btn btn-primary btn-xs"><i class="fa fa-clock-o"></i> <%#= t('all.new') %></a>-->
            <%= link_to 'Nuevo', new_tx_filter_schedule_path(:idFiltro => @id), remote: true,  class:'btn btn-primary btn-xs' %>
          </div>
        </div>
        <div class="ibox-content">
          <div class="content_horarios">
            <table class="text-center table table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Hora Inicio</th>
                  <th class="text-center">Hora Final</th>
                  <th class="text-center"><%= t('all.edit') %></th>
                  <th class="text-center"><%= t('all.delete') %></th>
                </tr>
              </thead>
              <tbody class="schedules">
              <% @tx_filter_schedule.each do |horario| %>
                <%= render 'row', horario: horario %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="row">
    <article class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="col-lg-6">
            <h5><%= t('views.registration_edit.update') %> <%= t('views.tx_filter_detail_index.title') %></h5>
          </div>
          <div class="ibox-tools">
            <div class="tooltip-demo">
              <div class="switch">
                <div class="onoffswitch" data-toggle="tooltip" data-placement="right" title="Update Filter Detail"></div>
                <input type="checkbox" class="onoffswitch-checkbox" id="active_detail_filter" name="update_filter_detail" value="1">
                <label class="onoffswitch-label" for="active_detail_filter">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">

          <div class="row">
            <!-- Controles para agregar condiciones -->
            <div class="col-lg-4" style="margin-top: 3.1em;">
              <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
              <div class="form-group col-lg-6">
                <label><%= t('views.tx_filter_detail_new.feild') %></label>
                <select name="" id="selectFeild" class="form-control selectFeild" disabled>
                  <option value=""><%= t('views.tx_filter_detail_new.select_feild') %></option>
                </select>
              </div>

              <!--####### SELECT OPERATORS -->
              <div class="form-group col-lg-6">
                <label><%= t('views.tx_filter_detail_new.operators') %></label>
                <select name="" id="operator_sel" class="form-control operator_sel" disabled >
                  <option value=""><%= t('views.tx_filter_detail_new.select_operator') %></option>
                  <option value="0"> = </option>
                  <option value="1"> <> </option>
                  <option value="2"> > </option>
                  <option value="3"> >= </option>
                  <option value="4"> < </option>
                  <option value="5"> <= </option>
                  <option value="6"> Like </option>
                  <option value="7"> In </option>
                  <option value="7"> <%= t('views.tx_filter_detail_new.notPalabra') %> In </option>
                  <option value="8"> Between </option>
                  <option value="8"> <%= t('views.tx_filter_detail_new.notPalabra') %> Between </option>
                </select>
              </div>

              <!--####### INPUT VALOR -->
              <div class="oneValue form-group col-lg-12">
                <label for="valor"><%= t('views.tx_filter_detail_new.value') %></label>
                <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_value') %>" disabled>
              </div>

              <!--####### INPUTS BETWEEN / NOT BETWEEN -->
              <div class="betweenValue form-group col-lg-12" style="display: none">
                <!--                    <label style="display: block">Between Or Not Between</label>-->
                <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw1') %>" style="width: 47.5%; margin: 0; display: inline-block;" disabled>
                -
                <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="<%= t('views.tx_filter_detail_new.place_betw2') %>" style="width: 47.5%; margin: 0; display: inline-block;" disabled>
              </div>

              <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
              <div class="inValue form-group col-lg-12" style="display: none">
                <div class="anchoSelect inNot">
                  <!--                      <label style="display: block">In Or Not</label>-->
                  <select name="" id="selectList" class="form-control" disabled>
                    <option value=""><%= t('views.tx_filter_detail_new.select_list') %></option>
                    <option value="1">Tarj_Vip</option>
                    <option value="2">Tarj_Master</option>
                    <option value="3">Tarj_Visa</option>
                    <option value="4">Linea_Blanca</option>
                    <option value="5">Master</option>
                    <option value="6">Amex</option>
                  </select>
                </div>

                <div class="anchoSelect">
                  <label><%= t('views.tx_filter_detail_new.add_list') %></label>
                  <br>
                  <%= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                  <div class="upFiles">
                    <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                    <span id="customText" class="customText"> <%= t('views.tx_filter_detail_new.place_add_list') %></span>
                  </div>
                </div>

              </div>

              <!--####### SELECT CONECTORES -->
              <div class="form-group col-lg-6">
                <label><%= t('views.tx_filter_detail_new.connectors') %></label>
                <select name="" id="selectConnector" class="form-control" disabled="true">
                  <option value=""><%= t('views.tx_filter_detail_new.select_connector') %></option>
                  <option value="0"><%= t('views.tx_filter_detail_new.or') %></option>
                  <option value="1"><%= t('views.tx_filter_detail_new.and') %></option>
                </select>
              </div>

              <!--####### CHECKBOX DENIED -->
              <div class="col-lg-2 text-center altura contDenied" style="display: none">
                <label><%= t('views.tx_filter_detail_new.denied') %></label>
                <br>
                <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
              </div>

              <!--####### AGREGAR CONDICION-->
              <div class="col-lg-4 text-center altura addCondi" style="display: none">
                <div>
                  <label><%= t('views.tx_filter_detail_new.btn_add_condition') %></label>
                  <br>
                  <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                </div>
              </div>

              <!--####### AGREGAR Bloque de parenthesis-->
              <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                <br>
                <label><%= t('views.tx_filter_detail_new.add_parenthesis') %></label>
                <select name="" id="selectParentesis" class="form-control selectParentesis" disabled>
                  <option value=""><%= t('views.tx_filter_detail_new.select_par') %></option>
                  <option title="<%= t('views.tx_filter_detail_new.and') %>" name="0" value="1"><%= t('views.tx_filter_detail_new.and') %>(</option>
                  <option title="<%= t('views.tx_filter_detail_new.or') %>" name="0" value="0"><%= t('views.tx_filter_detail_new.or') %>(</option>
                  <option title="" name="0" value="-1">(</option>
                  <option title="<%= t('views.tx_filter_detail_new.and') %>" name="1" value="1"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.and') %>(</option>
                  <option title="<%= t('views.tx_filter_detail_new.or') %>" name="1" value="0"><%= t('views.tx_filter_detail_new.notPalabra') %> <%= t('views.tx_filter_detail_new.or') %>(</option>
                  <option title="" name="1" value="-1"><%= t('views.tx_filter_detail_new.notPalabra') %>(</option>
                </select>
              </div>
            </div>

            <!-- Detalle del filtro -->
            <div class="col-lg-8">
              <div>
                <h4><%= t('views.tx_filter_new.list_conditions') %></h4>
              </div>
              <!-- En este input se guardan todos los valores del filtro -->
              <input type="hidden" id="filtroNew" name="filtroUp">

              <!-- El valor de este input es dinamico y cambio segun sean eliminadas las condiciones -->
              <input type="hidden" id="totalCondi" name="total_condi_input">
              <div class="s_Condition">
                <table class="table table-hover table-striped table-responsive" style="margin: 0">
                  <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center"><%= t('views.tx_filter_detail_new.connectors') %></th>
                    <th class="text-center"><%= t('views.tx_filter_detail_new.expression') %></th>
                    <th data-hide="phone, table" class="text-center"><%= t('all.delete') %></th>
                    <th data-hide="phone, table" class="text-center"><%= t('all.edit') %></th>
                  </tr>
                  </thead>
                  <tbody id="drag-elements" class="tBodyCondition">
                  <% @tx_filter.each do |filtro|  %>
                    <% @idFiltro = filtro.Id %>
                  <% end %>
                  <% @detalle = TxFilterDetail.where(:filter_id => @idFiltro) %>
                  <% @camposLay = Tcamposlay.all %>
                  <% @detalle.each do | condiciones | %>
<!--                    <tr class="condicion<%#= condiciones.conditionnumber %>">-->
                    <% if condiciones.parenthesis == '0' %>
                      <% tipoDeCondicion = 'condicion' %>
                    <% elsif condiciones.parenthesis == '1' %>
                      <% tipoDeCondicion = 'parAbre' %>
                    <% elsif condiciones.parenthesis == '2' %>
                      <% tipoDeCondicion = 'parCierre' %>
                    <% end %>
                    <tr class="<%= tipoDeCondicion %>">
                      <% if (condiciones.denied == "0") %>
                        <% checked = "" %>
                        <% no = "" %>
                      <% elsif  condiciones.denied == "1"%>
                        <% checked = "checked" %>
                        <% no = t('views.tx_filter_detail_new.notPalabra') %>
                      <% end %>
                      <td class="text-center num_condi filterCondi"><%= condiciones.conditionnumber %></td>
                      <td class="text-center connector">
                        <% if condiciones.connector != "-1" %>
                        <span class="btn btn-primary btn-xs changeConector">
                        <% if condiciones.connector == "0" %>
                        <%= t('views.tx_filter_detail_new.or') %>
                        <% elsif condiciones.connector == "1"  %>
                        <%= t('views.tx_filter_detail_new.and') %>
                        <% end %>
                        </span>
                        <% end %>
                      </td>
                      <td class="text-center expresion">
                        <strong class="negado"><%= no %></strong>
                        <% @idCampoCondi = condiciones.fieldFormat_id %>

                        <% @camposLay.each do | camposLay | %>
                          <% @idCampoFor = camposLay.IdCampo %>

                          <% if ( @idCampoCondi  == @idCampoFor ) %>
                            <% @nombre =  camposLay.Nombre %>
                            <% @alias = camposLay.Alias %>

                            <% if @alias != "" %>
                              <span class="campo" value="<%= @idCampoCondi %>"><%= @alias %></span>
                            <% else %>
                              <span class="campo" value="<%= @idCampoCondi %>"><%= @nombre %></span>
                            <% end %>
                          <% end %>
                        <% end %>

                        <% if condiciones.operator == "0" %>
                          <% operador = "=" %>
                        <% elsif condiciones.operator == "1" %>
                          <% operador = "<>" %>
                        <% elsif condiciones.operator == "2" %>
                          <% operador = ">" %>
                        <% elsif condiciones.operator == "3" %>
                          <% operador = ">=" %>
                        <% elsif condiciones.operator == "4" %>
                          <% operador = "<" %>
                        <% elsif condiciones.operator == "5" %>
                          <% operador = "<=" %>
                        <% elsif condiciones.operator == "6" %>
                          <% operador = "Like" %>
                        <% elsif condiciones.operator == "7" %>
                          <% operador = "In" %>
                        <% elsif condiciones.operator == "8" %>
                          <% operador = "Between" %>
                        <% end %>

                        <strong class="operador" value="<%= condiciones.operator %>"><%= operador %></strong>
                        <% if condiciones.operator == "8" %>
                          <% valores = condiciones.value %>
                          <% valorSplit = valores.split("}").join(" ") %>
                          <% valoresBetween = valorSplit.split("{") %>
                          <span class="valorUno" value="<%= valoresBetween[1] %>"><%= valoresBetween[1] %></span>
                          <strong class="conector"><%= t('views.tx_filter_detail_new.and') %></strong>
                          <span class="valorDos" value="<%= valoresBetween[2] %>"><%= valoresBetween[2] %></span>
                        <% else %>
                          <% if condiciones.value == "" || !condiciones.value.present? %>
                          <span class="parenthesis">
                          <% if condiciones.parenthesis == "1" %>
                            (
                          <% else %>
                            )
                          <% end %>
                            </span>
                          <% else  %>
                            <span class="valorUno" value="<%= condiciones.value %>"><%= condiciones.value %></span>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="text-center delete">
                        <%# if condiciones.parenthesis != "2" %>
                          <span id="<%= condiciones.id %>" class="btn btn-danger btn-xs eliminar" style="display: none;"><i class="fa fa-times"></i></span>
                          <%#= link_to '<i class="fa fa-times"></i>'.html_safe, condiciones, method: :delete, class:'btn btn-danger btn-xs eliminar', style:'display: none' %>
                        <%# end %>
                      </td>
                      <td class="text-center edit">
                        <% if condiciones.parenthesis != "2" %>
                          <a href="/tx_filter_details/<%= condiciones.id %>/edit" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                        <% end %>
                      </td>
                      <!--              <td class="text-center">-->
                      <%# if condiciones.parenthesis != "2" %>
                      <!--                <button type="button" id="condicion<%#= condiciones.id %>"  value="<%#= condiciones.id %>" class="btn btn-warning btn-xs  editCondi"  data-toggle="modal" data-target="#modal1" title="<%#= t('all.edit') %> <%#= t('views.tx_filter_index.condition') %>">-->
                      <!--                  <i class="fa fa-pencil "></i>-->
                      <!--                </button>-->
                      <%# end %>
                      <!--              </td>-->
                      <td class="tdDispNone filterCondi conectorVal" value="<%= condiciones.connector %>" name="conector"><%= condiciones.connector %></td>
                      <td class="tdDispNone filterCondi denegadoVal" value="<%= condiciones.denied %>" name="denegado"><%= condiciones.denied %></td>
                      <td class="tdDispNone filterCondi" value="<%= condiciones.operator %>" name="operador"><%= condiciones.operator %></td>
                      <td class="tdDispNone filterCondi parentesisVal" value="<%= condiciones.parenthesis %>" name="parentesis"><%= condiciones.parenthesis %></td>
                      <td class="tdDispNone filterCondi" value="<%= condiciones.value %>" name="valor"><%= condiciones.value %></td>
                      <td class="tdDispNone filterCondi" value="<%= @idCampoCondi %>" name="campo"><%= @idCampoCondi %></td>
                      <td class="tdDispNone filterCondi positionVal" value="<%= condiciones.position %>" name="posision"><%= condiciones.position %></td>
                      <td class="tdDispNone filterCondi lengthVal" value="<%= condiciones.lenght %>" name="longitud"><%= condiciones.lenght %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <div class="row actions">
    <div class="col-lg-12">
      <span class="btn btn-primary btn-xs upload"><%= t('all.save') %></span>
      <%= link_to t('all.back'), tx_sessions_index_path, class:'btn btn-primary btn-xs' %>
    </div>
  </div>
<% end %>
<div class="traducciones" style="display: none;">
  <input id="traduSeleFormat" type="hidden" value="<%= t('views.tx_session_new.select_format') %>">
  <input id="traduSeleFeild" type="hidden" value="<%= t('views.tx_filter_detail_new.select_feild') %>">
  <input id="traduSeleList" type="hidden" value="<%= t('views.tx_filter_detail_new.select_list') %>">
  <input id="traduPlaceAddList" type="hidden" value="<%= t('views.tx_filter_detail_new.place_add_list') %>">
  <input type="hidden" id="swalSorry" value="<%= t('swal.sorry') %>" >
  <input type="hidden" id="swalCondiIncompleta" value="<%= t('swal.txt_condi_incompleta') %>" >
  <input type="hidden" id="swalCondiExiste" value="<%= t('swal.txt_condi_existe') %>" >
  <input type="hidden" id="swalCondiDelete" value="<%= t('swal.txt_condi_delete') %>" >
  <input type="hidden" id="txtAnd" value="<%= t('views.tx_filter_detail_new.and') %>" >
  <input type="hidden" id="txtOr" value="<%= t('views.tx_filter_detail_new.or') %>" >
  <input type="hidden" id="swalDelete" value="<%= t('all.delete') %>" >
  <input type="hidden" id="dataWillLose" value="<%= t('swal.title_delete') %>" >
  <input type="hidden" id="youSure" value="<%= t('swal.txt_are_sure') %>" >
  <input type="hidden" id="btn_yes" value="<%= t('swal.btn_yes') %>" >
  <input type="hidden" id="btn_confir" value="<%= t('swal.btn_confirm') %>" >
  <input type="hidden" id="btn_cancel" value="<%= t('swal.btn_cancel') %>" >
  <input type="hidden" id="btn_cancel2" value="<%= t('swal.btn_cancel2') %>" >
  <input type="hidden" id="titleCancel" value="<%= t('swal.title_canceled') %>" >
  <input type="hidden" id="txtCancel" value="<%= t('swal.txt_canceled') %>" >
  <input type="hidden" id="noPalabra" value="<%= t('views.tx_filter_detail_new.notPalabra') %>" >
  <input type="hidden" id="noAddCone" value="<%= t('swal.txt_no_add_par_cone') %>" >
  <input type="hidden" id="noAddSinCon" value="<%= t('swal.txt_no_add_par_sinCon') %>" >
  <input type="hidden" id="enableEdition" value="<%= t('swal.enable_edition') %>">
  <input type="hidden" id="attention" value="<%= t('swal.attention') %>">
  <input type="hidden" id="save_change" value="<%= t('swal.save_change') %>">
</div>


<%#= render 'form', tx_filter_detail: @tx_filter_detail %>

<%#= link_to 'Back', tx_filter_details_path %>
