<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @view.name %>
</p>

<p>
  <strong>Crear:</strong>
  <%= @view.crear %>
</p>

<p>
  <strong>Editar:</strong>
  <%= @view.editar %>
</p>

<p>
  <strong>Eliminar:</strong>
  <%= @view.eliminar %>
</p>

<p>
  <strong>Leer:</strong>
  <%= @view.leer %>
</p>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
