<%#= stylesheet_link_tag 'tx_filter_schedules' %>
<div id="horario-modal" class="modal fade">
  <div class="modal-dialog modal-lg" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal_padre" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>

      <%= form_for @tx_filter_schedule, remote: true do |f| %>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display: none;"></div>

          <section class="row">
            <!-- Contenedor de horario -->
            <article class="col-lg-6">
              <!-- Id del filtro -->
              <%= f.hidden_field :filter_id, value: @filter_id_schedule %>


              <!-- Hora de inicio -->
              <div class="col-lg-6 form-group">
                <%= f.label :Hr_Start, t('views.tx_filter_schedules_index.sh_start') %>
                <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                  <%= f.text_field :Hr_Start, id:'time_start', class:'form-control', placeholder:'Seleccione una hora', required: true, autocomplete:'off' %>
                  <span class="input-group-addon">
                   <i class="fa fa-clock-o"></i>
                  </span>
                </div>
              </div>

              <!-- Hora de Termino -->
              <div class="col-lg-6 form-group">
                <%= f.label :Hr_End, t('views.tx_filter_schedules_index.sh_end') %>
                <div class="input-group clockpicker" data-placement="right" data-autoclose="true">
                  <%= f.text_field :Hr_End, id:'time_end', class:'form-control', placeholder:'Seleccione una hora', required: true, autocomplete:'off' %>
                  <span class="input-group-addon">
                   <i class="fa fa-clock-o"></i>
                  </span>
                </div>
              </div>

              <% @limitTran = '' %>
              <% if action_name == "edit" %>

                <!-- valores de Max_Tran y Min_Tran -->
                <% @valMax_tran =  "#{h @tx_filter_schedule.Max_Tran}" %>
                <% @valMin_tran =  "#{h @tx_filter_schedule.Min_Tran}" %>

                <% if @valMax_tran  != '0' %>
                  <% @limitTran = @valMax_tran %>
                  <% @valSelect = '1' %>
                <% end %>

                <% if @valMin_tran  != '0' %>
                  <% @limitTran = @valMin_tran %>
                  <% @valSelect = '2' %>
                <% end %>

                <!-- Asigna el valor al select de typo de limite -->
                <script type="text/javascript" charset="utf-8">
                  $(document).ready(function(){
                      $('#limite').val('<%= @valSelect %>');
                  })
                </script>
              <% end %>

              <!-- Aquí se define el limite y si este es máximo o mínimo -->
              <div class="col-lg-6 form-group">
                <label for=""><%= t('views.tx_filter_schedules_index.limit') %></label>
                <div class="input-select-unidos">
                  <input type="text" id="limit_tran" class="form-control" value="<%= @limitTran %>" name="limit" placeholder="Ingrese Limite" autocomplete="off" required>
                  <select name="select_limit" id="limite" class="form-control" >
                    <option value="1">Máximo</option>
                    <option value="2">Mínimo</option>
                  </select>
                </div>
              </div>

              <!-- Aquí se define el Intervalo -->
              <div class="col-lg-6 form-group">
                <%= f.label :Interval, t('views.tx_filter_schedules_index.interval') %>
                <div class="input-select-unidos">
                  <%= f.number_field :Interval, class:'form-control', placeholder:'Ingrese un Intervalo', autocomplete:"off" ,required: true %>
                  <%= f.select :UMInterval,{ '-' => -1, 'Minutos' => 0, 'Segundos' => 1},{}, {class:'form-control'} %>
                </div>
              </div>

              <!-- Aquí se define el Time Out -->
              <div class="col-lg-6 form-group optional">
                <%= f.label :TimeOut %>
                <div class="input-select-unidos">
                  <%= f.number_field :TimeOut, class:'form-control', placeholder:'Ingrese un Timpo Fuera', autocomplete:"off" %>
                  <%= f.select :UMTimeout ,{ '-' => -1, 'Minutos' => 0, 'Segundos' => 1},{}, {class:'form-control'} %>
                </div>
              </div>

              <!-- Aquí se define el Intermedio -->
              <div class="col-lg-6 form-group optional" style="display: <%= @display %>">
                <%= f.label :Intermediate, 'Intermedio' %>
                <div class="input-select-unidos">
                  <%= f.number_field :Intermediate, id:'interme', class:'form-control', placeholder:'Ingrese un Intermedio', autocomplete:"off" %>
                  <%= f.select :UMIntermediate ,{ '-' => -1, 'Minutos' => 0, 'Segundos' => 1},{}, {class:'form-control'} %>
                </div>
              </div>

            </article>
            <!-- ### Termina Contenedor de horario -->

            <!-- Contenedor de Mensaje -->
            <article class="col-lg-6">

              <div class="header-subtitle flex-mensaje">
                <h4>Mensajes de Alertas</h4>
                <span id="addMsn" class="btn btn-tunning btn-xs" title="Agregar Mensaje"><i class="fa fa-plus"></i></span>
              </div>
              <br>

              <table class="table table-striped table-responsive table-hover" >
                <thead>
                <tr>
                  <th class="text-center">Escalamiento</th>
                  <th>Mensaje</th>
                  <% if action_name == "edit" %>
                    <th><%= t('all.edit') %></th>
                    <th><%= t('all.delete') %></th>
                  <% end %>
                </tr>
                </thead>
                <tbody class="mensaje-de-alerta">

                <!-- Se llenara dinamicamente con los mensajes agregados por el usuario en new -->

                <!-- Se muestran los mensajes con su configuración en edit -->
                <% if action_name == "edit" %>
                  <% @tx_schedule_message.each do |msn| %>
                  <tr id="<%= msn.id %>" >
                    <td class="hide"><input id="id_msn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][id]" value="<%= msn.id %>"></td>
                    <td class="text-center"><%= msn.Num_Alarma %> <input type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][Num_Alarma]" value="<%= msn.Num_Alarma %>"></td>
                    <td><%= msn.message %> </td>
                    <td class="text-center"><span id="edit_msn_<%= msn.id %>" class="btn btn-warning btn-xs edit_msn"><i class="fa fa-pencil"></i></span></td>
                    <td class="text-center"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, msn, method: :delete, class: 'btn btn-danger btn-xs' %></td>
                    <td class="hide"><input id="msn_edit" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][message]" value="<%= msn.message %>"> </td>
                    <td class="hide"><input id="fecha" class="bit" title="fechaMsn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][bit_date]" value="<%= msn.bit_date %>"></td>
                    <td class="hide"><input id="descripcion" class="bit" title="desMsn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][bit_description]" value="<%= msn.bit_description %>"></td>
                    <td class="hide"><input id="escala" class="bit" title="escalaMsn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][bit_escala]" value="<%= msn.bit_escala %>"></td>
                    <td class="hide"><input id="limite" class="bit" title="limitesMsn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][bit_limit]" value="<%= msn.bit_limit %>"></td>
                    <td class="hide"><input id="refecia" class="bit" title="referenciMsn" type="hidden" name="msn[dataMsn<%= msn.Num_Alarma %>][bit_reference]" value="<%= msn.bit_reference %>"></td>
                  </tr>
                  <% end %>
                <% end %>
                <!-- ### Termina Se muestran los mensajes con su configuración en edit -->

                </tbody>
              </table>
            </article>
            <!-- ### Termina Conenedor de Mensaje -->
          </section>


          <div class="action p-m">
            <%= f.submit  t('all.save') ,class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

  <!-- Modal oculta para agregar el mensaje -->
  <div class="modal-dos" style="display: none">
    <!-- Header de la Modal -->
    <div class="header-msn p-xs">
      <div><h4 class="modal-title">Configuración del Mensaje</h4></div>
      <div><span id="cerrar_modal_dos" class="btn"><i class="fa fa-times"></i></span></div>
    </div>

    <input type="hidden" id="id_msn_alert">
    <div class="campos_modal p-m">

      <div class="msn content_table_campos">
        <table class="table table-striped table-responsive table-hover" >
          <thead>
          <tr>
            <th>Nombre</th>
          </tr>
          </thead>
          <tbody id="campos_modal_table">
          <!-- Los campos se llenan de forma dinamica -->
          </tbody>
        </table>
      </div>

      <div class="msn content_config m-l-lg m-r-lg">
        <div class="form-group d-flex">
          <label>Campo: <span id="campoSelect" class="text-info"></span></label>
          <label>Longitud: <span id="longCampoSelect" class="text-info"></span></label>
          <input type="hidden" id="long_campo" class="form-control">
        </div>

        <div class="form-group content-radios">
          <label for="">
            <input type="radio" id="rango" name="optionMsn" value="1" checked >
            Rango
          </label>

          <label for="">
            <input type="radio" id="primeros" name="optionMsn" value="2" >
            Primeros
          </label>

          <label for="">
            <input type="radio" id="ultimos" name="optionMsn" value="3" >
            Últimos
          </label>
        </div>

        <div class="form-group">

          <div class="rangos">
            <div class="form-group">
              <label for="">Posición</label>
              <input type="text" id="posInputConf" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Longitud</label>
              <input type="text" id="longInputConf" class="form-control">
            </div>
          </div>




          <div class="form-group ultimos">
            <label for="">Últimos</label>
            <input type="text" id="ultimosInp" class="form-control">
          </div>

          <div class="form-group primeros">
            <label for="">Primeros</label>
            <input type="text" id="primerosInp" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="">Dividir / 100</label>
          <input type="checkbox" id="dividir">
        </div>

        <button id="btnAddMsn" class="btn btn-primary btn-xs">Aplicar</button>
      </div>

      <div class="msn content-ta m-r-lg">
        <h5>Mensaje</h5>
        <textarea id="mensaje_alerta" cols="30" rows="5" class="form-control" placeholder="Escribe tu mensaje..." style="resize: none; height: 90%"></textarea>
      </div>

    </div>

    <div class="p-m">
      <div class="btn-groups inputsCheckboxMsn" data-toggle="buttons">
        <div>
          <h5>Opciones de Mensaje</h5>
        </div>

        <strong>Fecha/Hora</strong>
        <label id="fecha" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="fechaMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Descripción</strong>
        <label id="descripcion" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="desMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Escala</strong>
        <label id="escala" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="escalaMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>

        <strong>Limites</strong>
        <label id="limite" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="limitesMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>


        <strong>Refencias</strong>
        <label id="refecia" class="btn btn-primary btn-xs m-r">
          <input type="checkbox" id="referenciMsn" value="0" autocomplete="off">
          <span class="fa fa-check"></span>
        </label>
      </div>
    </div>

    <!-- Guardar mensajes -->
    <div class="actions p-m">
      <span id="saveMsn" class="btn btn-primary btn-xs"><%= t('all.save') %></span>
      <!--          <span id="cancelMsn" class="btn btn-primary btn-xs"><%#= t('all.cancel') %></span>-->
    </div>
  </div>
</div><!-- /.modal -->