// Place all the styles related to the tx_filter_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Estilos para que todos los thead este estaticos
table thead tr th {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.cont-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .values{
    width: 47%;
  }
}

.inValue{
  display: flex;
  flex-direction: row;

  .anchoSelect{
    width: 50%;

    &:last-child{
      padding-left: .5em;
    }
  }
}

//Estilos input file para cargar archivos
.upFiles{
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;

  .custonText{
    color: #aaa;
  }
}

//Estilos para Altura de CheckBox Denied y Add Condition
.altura{
  height: 59px;
  line-height: 1.9;
}

//Estilos para conector al agregar una condicion
.operador, .conector{
  color: #f8ac59;
  font-size: 16px;
}

.parenthesis{
  font-size: 20px;
}

.negado{
  color: #ed5565;
}

.tdDispNone, .thDisNone {
  display: none;
}

//###ESTILOS PARA CONTENEDOR FILTER
.s_Condition{
  background-color: #fff;
  border-radius: 5px;
  height: 385px;
  overflow: auto;
  padding: 0;
}

.condicion, .parAbre, .parCierre{
  cursor: grabbing;
  z-index: 99999;
}

//################################################# Contenedor de los campos de referencia
.campos_ref, .content_horarios {
  height: 185px;
  overflow: auto;
}

.campos_ref, .s_Condition, .content_horarios {
  //* Estilos para el scroll
  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #e7eaec; //*=> Background de la longitud sobre la que se desplasa el scroll
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3));
  }
}

///################################################ Estilos para la seccion de mensajes de alertas
/*Unifica el select con el input*/
.input-select-unidos{
  display: flex;
  flex-direction: row;

  select:first-child{
    width: 50%;
  }

  input:last-child{
    width: 130%;
  }

}

/*Estilos para el contenedor de la table de campos*/
.content_campos, .content_table_campos{
  max-height: 300px;
  overflow: auto;

  //* Estilos para el scroll
  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #e7eaec; //*=> Background de la longitud sobre la que se desplasa el scroll
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

  thead, tr, th{
    background-color: #fff;
    position: sticky;
    top: 0;
  }
}

/*Estilos para los header de los subtitulos - Mensajes de Alertas y Referencias*/
.header-subtitle{
  background-color: #003057;
  border-radius: 5px 5px 0 0;
  padding: .5em;

  h4{
    font-weight: 100;
    color: #fff;
  }
}

//Flex-box para el header mensaje y el botón de agregar mensaje de alerta
.flex-mensaje, .btn-tunning{
  display: flex;
  flex-direction: row;
}

//header mensaje
.flex-mensaje{
  justify-content: space-between;
}

//Boton de agregar mensaje
.btn-tunning{
  background-color: #fff;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;

  &:hover{
    background-color: #9ea6b9;
  }
}

//Ventana modal de mensaje
.modal-size{
  width: 60%;
  margin: auto;
  margin-top: 2em;
}

.modal-dos{
  background-color: #fff;
  width: 90%;
  position: fixed;
  z-index: 9000;
  top: 5%;
  left: 5%;
  border-radius: 5px;

  .header-msn{
    background-color: #003057;
    color: #fff;
    display: flex;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
  }

  .campos_modal{
    display: flex;
    flex-direction: row;

    /*Tabla de campos en modal*/

    div.msn{
      width: 33%;
    }

    div.msn:first-child{
      max-height: 322px;
      overflow: auto;

      tr{
        cursor: pointer;
      }
    }

    .d-flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .primeros, .ultimos{
      display: none;
    }
  }
}

///Checkbox
.btn span.fa {
  opacity: 0;
}
.btn.active span.fa {
  opacity: 1;
}