<% @tx_sessions.each do |sesion| %>
  <% cuenta = sesion.tx_filters.count %>
  <% @filtro = TxFilters.order('order_number ASC').where(:Session_id => sesion.Id) %>
  <tr>
    <td><%= sesion.Id %></td>
    <td><%= sesion.Description %></td>
    <td style="position: relative">
      <span class="btn btn-primary btn-xs filters"><%= cuenta %></span>
      <div class="popover-custom d-none">
        <% @filtro.each do | filtro | %>
          <% existeFiltro = Filtersno.find_by(:IdFiltro => filtro.Id)  %>
          <% if existeFiltro.present? %>
            <% checked = 'checked' %>
            <% id = "id=#{existeFiltro.id}" %>
          <% else  %>
            <% checked = '' %>
            <% id = "" %>
          <% end  %>

          <% if filtro.Order_number == 0 %>

            <input type='checkbox' <%= id %> class='addList check<%= filtro.Id %>' value='<%= filtro.Id %>' title="<%= t('views.filtersnos_index.addBlackList') %>" <%= checked %>>

            <span class=' btn-primary btn-xs'><%= filtro.Description %></span>
            <br>
          <% else %>

            <input type='checkbox' <%= id %> class='addList check<%= filtro.Id %>' value='<%= filtro.Id %>' title="<%= t('views.filtersnos_index.addBlackList') %>" <%= checked %>>
            <span class='btn-warning btn-xs'><%= filtro.Description %></span>
            <br>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>

<style>

  .btn span.fa {
    opacity: 0;
  }
  .btn.active span.fa {
    opacity: 1;
  }

  .d-none{
    display: none;
  }

  .popover-custom{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: .5em;
    position: absolute;
    min-height: 70px;
    top: 0;
    left: 11em;
    text-align: left;
    width: 220px;
    z-index: 1000;

  &:before{
     content: ' ';
     position: absolute;
     width: 0;
     height: 0;
     border-bottom:25px solid transparent;  /* izquierda flecha */
     border-top:25px solid transparent; /* derecha flecha */
     border-right:10px solid #e5e5e5; /* base flecha y color*/
     font-size:0px;
     line-height:0px;
     left: -10px;
   }
  }
</style>