$('.pagination_count').html('<%= escape_javascript(page_entries_info(@tx_sessions, entry_name: t('views.filtersnos_index.session')).to_s) %>');
$('#paginator').html('<%= escape_javascript(paginate(@tx_sessions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true).to_s) %>');
$('tbody#sesiones').html('<%= escape_javascript render('sesiones') %>');




