<!--<p id="notice"><%#= notice %></p>-->
<% stylesheet_link_tag 'filtersnos.scss' %>
<div class="ibox-title">
  <h1><%= t('views.filtersnos_index.title') %></h1>
</div>
<div class="ibox-content">
  <div class="container m-t-lg">

    <div class="col-lg-12 no-padding">
      <div class="col-lg-6 no-padding">
        <label id="txt_todos"><%= t('views.filtersnos_index.label_select_all') %></label>
        <div class="btn-group" data-toggle="buttons">
          <label id="select_all" class="btn btn-primary btn-xs">
            <input type="checkbox" id="check_all"  autocomplete="off">
            <span class="fa fa-check"></span>
          </label>
        </div>
      </div>
      <div class="col-lg-6 no-padding text-right">
        <div style="margin-bottom: 2em;">
          <div class="pagination_count detall_left">
            <%= page_entries_info @tx_sessions, entry_name: t('views.filtersnos_index.session') %>
          </div>
          <div id="paginator" class="pag_right">
            <%= paginate @tx_sessions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true %>
          </div>
        </div>
      </div>
    </div>

    <div id="sessions_container">
      <table id="tabla-filtros" class="table table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center"><%= t('views.filtersnos_index.session') %></th>
          <th class="text-center"><%= t('views.filtersnos_index.filters') %></th>
        </tr>
        </thead>

        <tbody id="sesiones">
          <%= render 'sesiones' %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= link_to 'New Filtersno', new_filtersno_path %>
</div>
<div class="m-l-lg" style="height: 100px;"></div>

