<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'ks-clasico-icono.png' %>
  <title><%= t('all.general_title') %></title>
  <%#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>

<% if current_user %>

    <body class="pace-done">

    <!-- Wrapper-->
    <div id="wrapper">
      <input type="hidden" class="controllerName" value="<%= controller_name %>">
      <input type="hidden" class="actionName" value="<%= action_name %>">
      <div class="mensajeAlerta">
        <%= render 'home/mensajeAlerta' %>
      </div>

      <%= render 'layouts/navigation' %>

      <!-- Navigation -->

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <div id="mensaje_schedule" class="alert alert-success" role="alert" style="display: none;"></div>
        <% if notice %>
            <p class="alert alert-success alert-dismissible" id="mensaje1">
              <label><%= notice %></label></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger alert-dismissible" id="mensaje2">
              <label id="msj"><%=  alert %></label></p>
        <% end %>

        <!-- Main view  -->
        <% if !is_active_controller('home') %>
            <%= render 'layouts/counters' %>
        <% end %>

        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    </body>

    <%#= !is_active_controller('home') and is_active_controller('niv_alertamiento') %>

    <%#= javascript_include_tag ('cierre_session') if (!is_active_controller('home') || !is_active_controller('niv_alertamiento')) %>
    <%#= javascript_include_tag ('cierre_session') if (!is_active_controller('niv_alertamiento') && is_active_controller('niv_alertamiento'))%>
    <%#= javascript_include_tag ('cierre_session') if !is_active_controller('niv_alertamiento') %>

    <input type="hidden" id="expire_txt" value="<%= t('views.users_activate.expire')%>">
    <input type="hidden" id="exp_title_txt" value="<%= t('views.users_activate.exp_title')%>">
    <input type="hidden" id="exp_mess_txt" value="<%= t('views.users_activate.exp_mess')%>">
    <input type="hidden" id="title_txt" value="<%= t('views.users_activate.title')%>">
    <input type="hidden" id="text_txt" value="<%= t('views.users_activate.text')%>">
    <input type="hidden" id="btn_conf_txt" value="<%= t('views.users_activate.btn_conf')%>">

  <% if is_active_controller('home') %>
    <%= javascript_include_tag ('cierre_session') if !is_active_controller('home') %>
  <% elsif is_active_controller('niv_alertamiento') %>
    <%= javascript_include_tag ('cierre_session') if !is_active_controller('niv_alertamiento') %>
  <% elsif  is_active_controller('alertn') %>
    <%= javascript_include_tag ('cierre_session') if !is_active_controller('alertn') %>
    <%= javascript_include_tag('cierre_sesion_tran_per') %>
  <% else %>
    <%= javascript_include_tag ('cierre_session') %>
  <% end %>


<% else %>

    <body style="background-color: #f3f3f4;">
    <%#= current_user.name %>

    <% if notice %>
        <div class="container">
          <div class="alert alert-success alert-dismissable" id="mensaje3">
              <label><%= notice %></label>
          </div>
        </div>
    <% elsif alert %>
        <!--<<div class="ibox-content ">-->
        <div class="container">
          <div class="alert alert-danger alert-dismissable" id="mensaje4">
              <label id="msj1"><%= alert %></label>
          </div>
        </div>
    <% end %>
    <div>
      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <p><br><br><br><br></p>
          <%#= link_to t('views.sessions_new.reactivation'), expired_accounts_new_path, :class => 'btn btn-danger', :id => "activarCuenta1", :style => "display:none" %>
        </div>

      </div>
    </div>
<% end %>
</body>
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
<%= javascript_include_tag 'plugin/pace/pace', 'data-pace-options' => '{ "restartOnRequestAfter": true }' %>

<%= yield :stylesheet %>
<%= yield :javascript %>

<% if action_name == 'niv_alertamiento' %>
  <%= javascript_include_tag 'plugin/chartjs/chart.js' %>
  <%= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') %>
<% end %>
</html>

<style>

  .btn-error {
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
    animation: shake 0.5s;
  }

  /* From Dan Eden's animate.css: http://daneden.me/animate/ */
  @-webkit-keyframes shake {
    0%, 100% {
      -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(10px);
    }
  }

  @-moz-keyframes shake {
    0%, 100% {
      -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      -moz-transform: translateX(10px);
    }
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
</style>

<script>
  $(document).ready(function () {

      <% if controller_name == "alertn" && (action_name == "alertPer" || action_name == "alertTran") %>

      // //----- Fixed para Counters
      let contador = 0; // Contador de click's btn slide menu
      let $conte = $('#conte'),
          countersTop = $conte.offset().top; // Altura de contenedor Counter's
      let $numTar = $('#responsiveTable'),
          numTarjTop = $numTar.offset().top; // Altura de Numero_de_Tarjeta

          // console.log(`Soy altura del conte: ${countersTop}`);
          // console.log(`Soy altura del numeroTarj: ${numTarjTop}`);

      $(window).on('scroll', function () {
          // alert('Entre Scroll');
          let scrollVentana = $(this).scrollTop();
          console.log(`Soy altura de scroll: ${scrollVentana}`);

          if ( scrollVentana >= countersTop ) {
              $conte.addClass('fixedcount');
              $conte.removeClass('flexbox');
              $conte.removeClass('row');
              $('#margen').addClass('mar');

              $("#a1, #a2, #a3").hide();

              $('#p2, #p3, #p4').removeClass('navy-bg');
              $('#p2, #p3, #p4').addClass('navy-bg-tam');
              $('#text h3').css('font-size', '12px');
              $('#text h2').css('font-size', '12px');

              // Nuevo tamaño
              altura_counters = $conte.height();
              alturaFix = numTarjTop - altura_counters;
              // console.log(`Soy la aultra de counters: ${altura_counters}`)

          } else {
              $conte.removeClass('fixedcount');
              $conte.addClass('row');
              $conte.addClass('flexbox');
              $('#margen').removeClass('mar');


              $("#a1, #a2, #a3").show();
              $('#p2, #p3, #p4').removeClass('navy-bg-tam');
              $('#p2, #p3, #p4').addClass('navy-bg');
              $('#text h3').css('font-size', '16px');
              $('#text h2').css('font-size', '24px');
          }

          if ( scrollVentana >= alturaFix ) {
              $('#numTarjeta').addClass('fixed').removeClass('row');
              $('#detail').addClass('fixed2');
              $('#responsiveTable').css('padding-top', '20em')
          } else {
              $('#numTarjeta').removeClass('fixed').addClass('row');
              $('#detail').removeClass('fixed2');
              $('#responsiveTable').css('padding-top', '0')
          }
      });

      // ----- Fixed para Counters
      <% end %>

      $("#botonmin").click(function () {
          contador++;


          if( contador === 1 ){
              //----Cerrado el Nav
              console.log(contador)

              $(window).scroll(function () {
                  let scrollVentana = $(this).scrollTop()

                  //----ScrollCounter
                  if ( scrollVentana  >= countersTop ) {
                      $('#conte').css('left','85px')
                  } else {
                      // console.log("0)
                      $('#conte').css('width','')
                  }

                  //----ScrollDetail
                  if( scrollVentana > alturaFix ){
                      $('#numTarjeta').css('left','85px');
                      $('#detail').css('left','106px');
                  } else {
                      $('#numTarjeta').css('width','');
                      $('#detail').css('width','');
                  }
              });

          } else if(contador == 2){
              console.log(contador)
              //----Abierto el Nav
              $(window).scroll(function () {

                  if ($(this).scrollTop() >= countersTop ) {
                      $('#conte').css('left','236px')
                  } else {
                      console.log("Tengo menos de 95")

                  }

                  //----ScrollDetail
                  if( $(this).scrollTop() >= alturaFix){
                      $('#numTarjeta').css('left','236px');
                      $('#detail').css('left','255px');
                  } else {

                  }
              });

              contador = 0
          }

      });

      setInterval(
          function () {
              $(".mensajeAlerta").load('../home/mensajeAlerta')
              $('#toast-container').addClass("btn-error")
          }, 30000)

      setInterval(
          function () {
              $('#toast-container').removeClass("btn-error")
          }, 30500)
    });


  $("#mensaje1,#mensaje2,#mensaje3,#mensaje4").fadeTo(3500, 500).slideUp(500, function () {
      $("#mensaje2").slideUp(500);
  });

</script>